<div class="container">
	<p class="m-0 text-center text-white">
		Copyright &copy; 2006 - 2019 Soluciones Digitales y de Procesos S.A.
		de C.V. Todos los derechos reservados | <a
			href="http://www.solucionesdigitales.com.mx/contacto.html"
			target="_blank"> Contacto </a> | <a
			href="http://www.solucionesdigitales.com.mx/legales.html"
			target="_blank"> Legales </a> | <a
			href="/files/installers/NetTimeSetup-314.exe" target="_blank">
			Net Time </a> | <a href="/files/installers/U.are.U_Windows_3.2.0.89.zip"
			target="_blank"> Sdk </a> |
	</p>
</div>
