 <div class="container" data-ng-controller="headerCtrl as hCtrl">
        <a class="navbar-brand" href="indexmenu.html">
        <img  class="img-responsive" src="../img/LXII_Legislatura_del_Congreso_del_Estado_de_Guerrero.png" alt="">
       </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <a class="navbar-brand" href="#">
         <span id="spnFecha"></span>
       </a>
       <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ml-auto">
          <!--  <li class="nav-item active">
             <a class="nav-link" href="#">Home
               <span class="sr-only">(current)</span>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">About</a>
           </li> -->
           <li class="nav-item">
          	  <p class="text-right text-white"> Nombre Usuario<br>
          	  Otra Informacion
          	  </p>
          	  <!--
             <a class="nav-link active" href="#">Nombre Usuario</a>
             <a class="nav-link active" href="#">Otra Info</a>
             -->
           </li> 
           <li class="nav-item">
           <!-- <div>Icons made by <a href="https://www.flaticon.es/autores/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
             <a class="navbar-brand" href="votacionUsuario.html">
	          <img  class="img-responsive" src="../img/user.png" alt="">
	      </a>
           </li>
           <li class="nav-item">
           <!-- <div>Icons made by <a href="https://www.flaticon.es/autores/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/"  title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
             <a class="navbar-brand" href="#">
	          <img  class="img-responsive" src="../img/LXII_Legislatura_del_Congreso_del_Estado_de_Guerrero.png" alt="">
	      </a>
           </li>
         </ul>
       </div>
        <script language="javascript" type="text/javascript">
   	  $(document).ready(function(){
		dows = new Array("Domingo", "Lunes", "Martes",
				"Miercoles", "Jueves", "Viernes", "Sabado");
		months = new Array("Enero", "Febrero", "Marzo",
				"Abril", "Mayo", "Junio", "Julio", "Agosto",
				"Septiembre", "Octubre", "Noviembre",
				"Diciembre");
		now = new Date();
		dow = now.getDay();
		d = now.getDate();
		m = now.getMonth();
		h = now.getTime();
		y = now.getFullYear();
		$("#spnFecha").text(dows[dow] + " " + d + " de " + months[m] + " de " + y);
   	  });
	</script>
     </div>
    