<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style>
.modal-lg {
	max-width: 80% !important;
}

.text-secondary {
	cursor: pointer;
}

.close--delete-file {
	top: 0;
	right: 0;
	opacity: 0;
	transition: all .3s;
}

.list-inline-item:hover .close--delete-file {
	opacity: 1;
}
</style>

<h1 class="my-4">
	Documentos/{{moduleod.nombre}} <i class="far fa-folder-open"></i>
</h1>
<section data-ng-show="archive !== null">
	<!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right"> -->
	<!--   Tooltip on right -->
	<!-- </button> -->
	<div class="row">
		<div class="mx-auto col-sm-12 col-md-12 col-lg-12">
			<form name="formArchive"
				data-ng-submit="submitForm(formArchive.$valid)" novalidate>
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">{{archive.id? 'Nuevo':'Actualizar'}}</h5>
					</div>

					<div class="card-body">
						<div class="form-group row">
							<label for="txtFecha" class="col-sm-2 col-form-label">Fecha</label>
							<div class="input-group input-group-lg col-sm-10">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-lg4">
										<i class="fas fa-calendar-day"></i>
									</span>
								</div>
								<input type="date" class="form-control" name="txtFecha"
									id="txtFecha" data-ng-model="archive.fecha" placeholder="fecha"
									required>

							</div>
						</div>
						<div class="form-group row">
							<label for="txtNombre" class="col-sm-2 col-form-label">Nombre</label>
							<div class="input-group input-group-lg col-sm-10">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-lg4">
										<i class="fas fa-file-signature"></i>
									</span>
								</div>
								<input type="text" class="form-control" name="txtNombre"
									id="txtNombre" data-ng-model="archive.nombre"
									placeholder="nombre" required>
								<div data-toggle="tooltip" data-placement="left"
									title="{{moduleod.fieldHelp}}">
									<i class="ml-3 far fa-question-circle fa-3x text-secondary"></i>
								</div>


							</div>
						</div>
						<div class="form-group row">
							<label for="fArchivo" class="col-sm-2 col-form-label">Archivo</label>
							<div class="input-group input-group-lg col-sm-10">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-lg4">
										<i class="fas fa-file-alt"></i>
									</span>
								</div>
								<input type="text"
									value="{{archive.filesUploads.length ? ' archivos seleccionados' : 'Seleccione un archivo...'}}"
									class="form-control image-preview-filename" disabled="disabled"
									data-ng-if="isAdd">
								<div class="input-group-append" data-ng-if="isAdd">
									<label class="btn btn-default image-preview-input"> <span
										class="glyphicon glyphicon-folder-open"></span> <span
										class="image-preview-input-title">Buscar</span> <input
										type="file" name="input-file-preview"
										accept="application/pdf, 
										.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
										data-records-model="archive.filesUploads" multiple />
									</label>
								</div>
								<input type="text" class="form-control image-preview-filename"
									disabled="disabled" data-ng-if="!isAdd"
									value="archivos subidos">
								<button type="button" class="btn btn-light"
									data-ng-click="changeToAdd()" data-ng-if="!isAdd">Cambiar</button>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label"></label>
							<div class="input-group input-group-lg col-sm-10 flex-column">
								<ul class="list-inline" data-ng-if="archive.filesUploads.length">
									<li data-ng-repeat="file in archive.filesUploads"
										class="list-inline-item text-center"><i
										class="far fa-file fa-3x text-secondary"></i><br>{{file.name}}</li>
								</ul>
								<ul class="list-inline" data-ng-if="archive.files.length">
									<li
										data-ng-repeat="file in archive.files | filter: {status: 1} track by $index"
										class="list-inline-item text-center position-relative"
										data-ng-class="!archive.filesUploads.length? 'text-secondary': 'text-danger'"><i
										class="far fa-file fa-3x"></i><br>{{file.originalName}}</li>
								</ul>
							</div>
						</div>

						<div class="form-group row justify-content-end">
							<label for="txtDescripcion" class="col-sm-2 col-form-label">Descripción</label>
							<div class="input-group input-group-lg col-sm-10">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-lg4">
										<i class="fas fa-align-center"></i>
									</span>
								</div>
								<textarea name="txtDescripcion" id="txtDescripcion"
									class="form-control" data-ng-model="archive.descripcion"></textarea>
							</div>
							<p class="mr-3">*Solo si es requerido</p>
						</div>

					</div>
					<div class="card-footer">
						<button type="submit" class="btn btn-success">
							<i class="fas" data-ng-class="!archive.id? 'fa-plus': 'fa-sync'"></i>
							{{!archive.id? 'Guardar': 'Actualizar'}}
						</button>
						<button type="button" class="btn btn-danger"
							data-ng-click="cancelAddUpdate()">
							<i class="fas fa-times"></i> Cancelar
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<section data-ng-if="archive === null">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="btn-group mr-3">
					<button type="button" class="btn btn-light"
						data-ng-click="topReturn()">
						<i class="fas fa-arrow-left"></i> Regresar
					</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-success"
						data-ng-click="addArchive()">
						<i class="fas fa-plus"></i> Nuevo
					</button>
				</div>
				<div class="input-group col-md-4">
					<input class="form-control py-2" type="search" value="search"
						id="example-search-input" placeholder="Buscar por nombre"
						data-ng-model="searchArchive"> <span
						class="input-group-append"> </span>
				</div>
				<div class="btn-group" data-ng-if="isSearch">
					<button type="button" class="btn btn-light text-secondary"
						data-ng-click="cancelSearch()">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<div class="row mt-3">
				<!-- Formulario fecha -->
				<div class="input-group col-sm-3 pr-0">
					<input class="form-control py-2" type="date"
						id="example-search-input" data-ng-model="searchDateStart">
				</div>
				<div class="input-group col-sm-3">
					<input class="form-control py-2" type="date"
						id="example-search-input" data-ng-model="searchDateEnd">
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-dark"
						data-ng-click="getRecordsBetweenDates(searchDateStart,searchDateEnd)">
						<i class="fas fa-search"></i> Buscar
					</button>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="alert alert-primary" data-ng-if="!records.length">
					No se encontraron archivos registrados en el sistema</div>
				<div class="table-responsive">
					<table class="table table-inversed table-hover table-striped">
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Nombre</th>
								<th>Descripción</th>
								<th>Archivos</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</tfoot>
						<tbody>
							<tr
								data-ng-repeat="ar in records | filter: searchArchive track by ar.id">
								<td>{{ar.fecha | date:'dd-MM-yyyy'}}</td>
								<td>{{ar.nombre}}</td>
								<td>{{ar.descripcion}}</td>
								<td><button type="button" class="btn btn-info"
										data-ng-if="ar.id != null" data-toggle="modal"
										data-ng-click="showDocument(ar)"
										data-target="#modal-show-files">Ver</button></td>
								<td>
									<button type="button" class="btn btn-warning"
										data-ng-if="ar.id != null" data-ng-click="updateArchive(ar)">Actualizar</button>
								</td>
								<td>
									<button type="button" class="btn btn-danger"
										data-ng-if="ar.id != null" data-ng-click="comfirmDelete(ar)">Eliminar</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Modal show Files-->
<div class="modal fade" id="modal-show-files" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered"
		role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{showFiles.nombre}}</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nombre</th>
							<th scope="col">Fecha</th>
							<th scope="col">Tamaño</th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tfoot>
					<tbody>
						<tr
							data-ng-repeat="file in showFiles.files | filter: {status: 1} track by $index">
							<th scope="row">{{$index+1}}</th>
							<td>{{file.originalName}}</td>
							<td>{{file.date | date:'dd-MM-yyyy'}}</td>
							<td>{{file.size/1000 | number : 1}}KB</td>
							<td><button type="button" class="btn btn-info"
									data-toggle="modal" data-target="#modal-show-file"
									data-ng-click="showDownloadFile(file)">ver</button></td>
							<td><button type="button" class="btn btn-primary"
									data-ng-click="downloadFile(file)">Descargar</button></td>
							<td><button type="button" class="btn btn-danger"
									data-ng-click="comfirmDeleteFile(showFiles,$index)">Eliminar</button></td>
						</tr>
					</tbody>
				</table>


			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal show file-->
<div class="modal fade" id="modal-show-file" tabindex="-1" role="dialog"
	aria-labelledby="modalShowFile" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered"
		role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalShowFile">{{fileName.date | date:'dd-MM-yyyy'}} - {{fileName.originalName}}</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="embed-responsive embed-responsive-16by9 text-center">
					<object width="400" height="400" id="object-data"></object>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
