<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Page Heading -->
<!-- <h1 class="my-4"> -->
<!-- 	MEN&Uacute; DE OPCIONES <small></small> -->
<!-- </h1> -->



<h2 class="text-dark text-center border-bottom border-secondary">Reportes</h2>
<div class="col-auto" style="margin-top: -5vh; margin-left: -1vh;">
	<button type="button" class="btn btn-light" data-ng-click="toReturn()">
		<i class="fas fa-arrow-left"></i> Regresar
	</button>
</div>
<div class="row" style="margin-top: 4vh; text-align: center;">
	<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"
		data-ng-if="validateRol(m)"
		data-ng-repeat="m in subMenus | filter: {app: 'reports', status: 1} | orderBy: m.index">
		<div class="card-panel h-100" style="text-align: center;">
			<a href="{{m.url}}"> <i class="{{m.icon}} fa-10x"
				style="color: {{m.color"></i> <!-- 			<img class="card-img-top rounded-circle" data-ng-src="{{m.image}}"	alt="{{m.alt}}"> -->
			</a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="{{m.url}}">{{m.title}}</a>
				</h4>
				<p class="card-text">{{m.text}}</p>
			</div>
		</div>
	</div>
</div>
<h2 class="text-dark text-center border-bottom border-secondary">Reportes
	estadísticos</h2>
<div class="row" style="margin-top: 4vh; text-align: center;">
	<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"
		data-ng-if="validateRol(m)"
		data-ng-repeat="m in subMenus | filter: {app: 'statistics', status: 1} | orderBy: m.index">
		<div class="card-panel h-100" style="text-align: center;">
			<a href="{{m.url}}"> <i class="{{m.icon}} fa-10x"
				style="color: {{m.color"></i> <!-- 			<img class="card-img-top rounded-circle" data-ng-src="{{m.image}}"	alt="{{m.alt}}"> -->
			</a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="{{m.url}}">{{m.title}}</a>
				</h4>
				<p class="card-text">{{m.text}}</p>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->