<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Page Heading -->
<!-- <h1 class="my-4"> -->
<!-- 	MEN&Uacute; DE OPCIONES <small></small> -->
<!-- </h1> -->

<div class="row" style="margin-top: 4vh; text-align: center;">
	<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"
		data-ng-if="validateRol(m)"
		data-ng-repeat="m in menus | filter: {status: 1} | orderBy: m.index">
		<div class="card-panel h-100" style="text-align: center;">
			<a href="{{m.url}}" data-ng-click="setIndexMenu(m.id)"
				data-ng-if="m.childs.length > 0"> <i class="{{m.icon}} fa-10x" style="color: {{m.color}}"></i>
				<!-- 				<img class="card-img-top rounded-circle" data-ng-src="{{m.image}}"	alt="{{m.alt}}"> -->
			</a> <a href="{{m.url}}" data-ng-if="m.childs.length == 0"> <i
				class="{{m.icon}} fa-10x" style="color: {{m.color}}"></i> <!--  <img class="card-img-top rounded-circle" data-ng-src="{{m.image}}"	alt="{{m.alt}}">-->
			</a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="{{m.url}}" data-ng-click="setIndexMenu(m.id)"
						data-ng-if="m.childs.length > 0">{{m.title}}</a> <a
						href="{{m.url}}" data-ng-if="m.childs.length == 0">{{m.title}}</a>
				</h4>
				<p class="card-text">{{m.text}}</p>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->