<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
.modal-lg {
	max-width: 80% !important;
}

.row--container-select {
	cursor: pointer;
	box-sizing: border-box;
}

.row--container-select>article svg {
	transition: all .3s;
	padding: 0;
	border-radius: 2px;
	margin: auto;
	display: block;
}

.row--container-select>article:hover svg {
	background-color: #6c757d !important;
	color: #ffffff !important;
	padding: .5rem;
}

.icon--selected>article svg {
	background-color: #6c757d !important;
	color: #ffffff !important;
	padding: .5rem;
	border-radius: 2px;
}
</style>
<h1 class="my-4">
	Módulos de orden del día <i class="fas fa-braille"></i>
</h1>
<section data-ng-if="modulood !== null">
	<div class="row">
		<div class="mx-auto col-sm-12 col-md-12 col-lg-12">
			<form name="formModuloOd"
				data-ng-submit="submitForm(formModuloOd.$valid)" novalidate>
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">{{!modulood.id ? 'Nuevo ':
							'Actualizar'}}</h5>
					</div>
					<div class="card-body">
						<div class="form-group row">
							<label for="txtNombre" class="col-sm-2 col-form-label">Nombre</label>
							<div class="input-group input-group-lg col-sm-10">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-lg4">
										<i class="fas fa-heading"></i>
									</span>
								</div>
								<input type="text" class="form-control" name="txtNombre"
									id="txtNombre" data-ng-model="modulood.nombre"
									data-ng-class="validClass.name ? 'is-'+validClass.name:''"
									placeholder="nombre" required>
								<div class="d-block"
									data-ng-class="validClass.name ? validClass.name+'-feedback':''"
									data-ng-show="validClass.name">Por favor ingrese el
									nombre del módulo</div>

							</div>
						</div>
						<div class="form-group row">
							<label for="txtIcono" class="col-sm-2 col-form-label">Icono</label>
							<div class="input-group input-group-lg col-sm-10">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-lg4"><i
										class="fas fa-drafting-compass"></i></span>
								</div>
								<input type="text" data-toggle="modal"
									data-target="#modal-select-icon" class="form-control"
									name="txtIcono" id="txtIcono" data-ng-model="modulood.icon"
									data-ng-class="validClass.icon ? 'is-'+validClass.icon:''"
									placeholder="icono" required>
								<div class="d-block" data-ng-show="validClass.icon"
									data-ng-class="validClass.icon ? validClass.icon+'-feedback':''">Por
									favor ingrese un icono</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="txtColor" class="col-sm-2 col-form-label">Color</label>
							<div class="input-group input-group-lg col-sm-10">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-lg4"><i
										class="fas fa-fill-drip"></i></span>
								</div>
								<input type="color" class="form-control" name="txtColor"
									id="txtColor" data-ng-model="modulood.color"
									data-ng-class="validClass.color ? 'is-valid':''"
									placeholder="color">
								<div class="d-block" data-ng-show="validClass.color"
									data-ng-class="validClass.color ? 'valid-feedback':''">Campo
									no requerido</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="txtCampoTextoAyuda" class="col-sm-2 col-form-label">Campo
								texto de ayuda</label>
							<div class="input-group input-group-lg col-sm-10">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-lg4">
										<i class="fas fa-align-center"></i>
									</span>
								</div>
								<textarea name="txtCampoTextoAyuda" id="txtCampoTextoAyuda"
									data-ng-class="validClass.fieldHelp ? 'is-valid':''"
									class="form-control" data-ng-model="modulood.fieldHelp"></textarea>
								<div class="d-block" data-ng-show="validClass.fieldHelp"
									data-ng-class="validClass.fieldHelp ? 'valid-feedback':''">Campo
									no requerido</div>
							</div>
						</div>
					</div>

					<div class="card-footer">
						<button type="submit" class="btn btn-success">
							<i class="fas" data-ng-class="!modulood.id? 'fa-plus': 'fa-sync'"></i>
							{{!modulood.id? 'Guardar': 'Actualizar'}}
						</button>
						<button type="button" class="btn btn-danger"
							data-ng-click="cancelAddUpModule()">
							<i class="fas fa-times"></i> Cancelar
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<section data-ng-if="modulood === null">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="btn-group mr-3">
					<button type="button" class="btn btn-light"
						data-ng-click="topReturn()">
						<i class="fas fa-arrow-left"></i> Regresar
					</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-success"
						data-ng-click="addModulood()">
						<i class="fas fa-plus"></i> Nuevo
					</button>
				</div>
				<div class="input-group col-md-4">
					<input class="form-control py-2" type="search" value="search"
						id="example-search-input" placeholder="Buscar"
						data-ng-model="searchModuleod"> <span
						class="input-group-append"> </span>
				</div>
			</div>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="alert alert-primary" data-ng-if="!modulosod.length">
					No se encontraron modulos de orden del día registrados en el
					sistema</div>
				<div class="table-responsive">
					<table class="table table-inversed table-hover table-striped">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Icono</th>
								<th>Color</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</tfoot>
						<tbody>
							<tr
								data-ng-repeat="moduleod in modulosod | filter: searchModuleod track by moduleod.id">
								<td>{{moduleod.nombre}}</td>
								<td><i class="{{moduleod.icon}}"></i></td>
								<td style="color: {{moduleod.color">{{moduleod.color}}</td>
								<td>
									<button type="button" class="btn btn-warning"
										data-ng-if="moduleod.id != null"
										data-ng-click="updateModuleod(moduleod)">Actualizar</button>
								</td>
								<td>
									<button type="button" class="btn btn-danger"
										data-ng-if="moduleod.id != null"
										data-ng-click="confirmDelete(moduleod)">Eliminar</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Modal select icon -->
<div class="modal fade" id="modal-select-icon" tabindex="-1"
	role="dialog" aria-labelledby="modalShowFile" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered"
		role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalShowFile">Paleta de iconos</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-secondary">
				<section class="row row--container-select">
					<article class="col-4 col-sm-2 mb-4" data-ng-repeat="icon in icons"
						data-ng-click="selectThisIcon(icon)">
						<i class="fa-3x" data-ng-class="icon"></i>
					</article>
				</section>
				<section class="row mt-4">
					<button type="button" data-ng-click="addMoreIcon()"
						class="btn btn-link">Buscar más</button>
				</section>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>