<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Page Heading -->
<h1 class="my-4">
	{{titleTabView}} <small>{{titleSession}}</small>
</h1>
<!-- data-ng-show="voteSession !== null" -->
<section data-ng-show="orderday !== null">
	<div class="row">
		<div class="col-ld-12 col-md-12 col-sm-12">
			<form name="formOrderDay"
				data-ng-submit="submitForm(formOrderDay.$valid)" novalidate>
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">{{!orderday.id ? 'NUEVA ': 'ACTUALIZAR
							'}}</h5>

						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								id="home-tab" data-toggle="tab" data-ui-sref="state"
								href="#home" role="tab" aria-controls="home"
								aria-selected="true">Orden del dia</a></li>
							<li class="nav-item"><a class="nav-link" id="profile-tab"
								data-toggle="tab" ui-sref="state" href="#profile" role="tab"
								aria-controls="profile" aria-selected="false">Contenido</a></li>
						</ul>

					</div>
					<div class="card-body">
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="home" role="tabpanel"
								aria-labelledby="nav-home-tab">

								<div class="container margin-top">
									<div class="form-group row">
										<label for="txtFecha" class="col-sm-2 col-form-label">Fecha
										</label>
										<div class="input-group input-group-lg col-sm-10">
											<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroup-sizing-lg5"><i
													class="far fa-calendar-alt"></i></span>
											</div>
											<input type="date" class="form-control" id="txtFecha"
												required maxlength="250" data-ng-model="orderday.fecha">
										</div>
									</div>
									<div class="form-group row">
										<label for="txtNombreOD" class="col-sm-2 col-form-label">Nombre
											de la OD</label>
										<div class="input-group input-group-lg col-sm-10">
											<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroup-sizing-lg6"><i
													class="far fa-file-alt"></i></span>
											</div>
											<input type="text" class="form-control" id="txtNombreOD"
												placeholder="Nombre de la Orden del Dia"
												data-ng-model="orderday.nombre" required maxlength="250">
										</div>
									</div>

									<!-- 									<button type="button" href="#profile" class="btn btn-light">Siguiente</button> -->
								</div>
							</div>
							<div class="tab-pane fade" id="profile" role="tabpanel"
								aria-labelledby="nav-profile-tab">
								<div class="form-row">
									<div class="col-2 col-md-2">
										<label>Nuevo</label> <br>
										<button data-ng-click="addMudulesOd()" type="button"
											class="btn btn-info">Nuevo Elemento</button>
									</div>
									<div class="col-2 col-md-3">
										<label for="inputState">Elementos de parrafos</label><select
											data-ng-options="ele as ele.nombre for ele in elementsOd track by ele.id"
											data-ng-change="change();" data-ng-model="currentElement"
											id="inputState" class="form-control">
											<option disabled value="">Seleccione un elemento...</option>
										</select>
									</div>
									<div class="col-2 col-md-2" id="btnAgregar">
										<button type="button" class="btn btn-dark"
											data-ng-click="addContentE(ele);">Agregar</button>

									</div>
									<br>
									<div class="container">
										<div class="margin-top"
											data-ng-repeat="e in orderday.elementsOd track by $index">
											<div class="col name-el">
												<label>{{e.nombre}}</label>
												<button class="btn btn-primary btn-sm"
													data-ng-click="addParagraph(e)">
													Parrafo <i class="fas fa-plus-square"></i>
												</button>
											</div>
											<div class="input-group"
												data-ng-repeat="p in e.paragraphs track by $index">
												<div class="col check-p">
													<input class="form-check-input new"
														data-ng-model="e.paragraphs[$index].isIniciativa"
														type="checkbox" value="" id="defaultCheck1"> <label
														class="form-check-label" for="defaultCheck1"></label>

												</div>
												<div class="col-4 col-md-9 margin-top">
													<textarea class="form-control" rows="4" name="text"
														placeholder="Agregar parrafo ..."
														aria-label="Hi there, I would like to ..."
														data-msg="Please enter a reason." 
														data-ng-model="e.paragraphs[$index].contenidotxt"></textarea>
												</div>
												<div class="col-2 col-md-2">
													<button type="button" class="btn btn-info btn-sm new"
														data-ng-click="addSubParagraphs(p)">SubParrafo
														<i class="fa fa-plus-square"></i>
													</button>
												</div>
												<div class="container">
													<div class="row margin-top"
														data-ng-repeat="sp in p.subParagraphs track by $index">
														<div class="col-2">

															<input
																data-ng-model="p.subParagraphs[$index].isIniciativa"
																class="form-check-input marggin" type="checkbox"
																value="" id="defaultCheck1"> <label
																class="form-check-label" for="defaultCheck1"></label>

														</div>
														<div class="col-4 col-md-9">
															<div class="input-group">
																<textarea class="form-control" rows="4" name="text"
																	placeholder="Agregar parrafo ..."
																	aria-label="Hi there, I would like to ..." required
																	data-msg="Please enter a reason."
																	data-ng-model="p.subParagraphs[$index].contenidotxt"></textarea>
															</div>
														</div>
														<div class="col-2 col-md-3"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>



							</div>
							<div class="tab-pane fade" id="nav-contact" role="tabpanel"
								aria-labelledby="nav-contact-tab" data-ng-show="">...</div>
						</div>


					</div>
					<!-- CardBody -->
					<div class="card-footer">
						<button type="submit" class="btn btn-success">{{!orderday.id
							? 'Guardar': 'Guardar version'}}</button>
						<button type="button" class="btn btn-warning">Publicar</button>

						<button type="button" class="btn btn-danger"
							data-ng-click="cancelAddUpOrderday()">Cancelar</button>
					</div>
					<!-- CardFooter -->
				</div>
				<!-- Card -->
			</form>
		</div>
	</div>
</section>

<!-- data-ng-if="voteSession === null" -->
<section data-ng-if="orderday === null">
	<div class="card w-95">
		<div class="card-body">
			<form class="form-inline" name="formFiltros">
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtFechaBusqueda" class="sr-only">Fecha de</label> <input
						type="date" class="form-control" id="txtFechaBusqueda"
						data-ng-max="filtrosFechas.fechaFin" name="fecha"
						data-ng-model="filtrosFechas.fecha" required="required"
						data-ng-class="formFiltros.fecha.$invalid ? 'is-invalid': ''">

				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtFechaBusquedaFin" class="sr-only">Fecha al </label>
					<input type="date" class="form-control" id="txtFechaBusquedaFin"
						data-ng-min="filtrosFechas.fecha" name="fechaFin"
						data-ng-class="formFiltros.fechaFin.$invalid ? 'is-invalid': ''"
						data-ng-model="filtrosFechas.fechaFin" required="required">
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<button type="button" class="btn btn-dark"
						data-ng-click="getBuscarFecha()">Buscar</button>
					<span class="invalid-feedback d-block"
						data-ng-show="formFiltros.fecha.$invalid || formFiltros.fechaFin.$invalid">Rango
						de fechas inválido!</span>
				</div>

				<div class="container">
					<div class="row">
						<div class="input-group input-group-lg col-sm-6 margin-top">
							<input type="search" class="form-control" id="searchTerm"
								placeholder="Buscar por nombre" data-ng-keyup="buscar();"
								required="required">

						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="card w-95">
		<div class="card-header">
			<h5>Lista de Orden del Dia</h5>
		</div>
		<div class="card-body">
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel"
					aria-labelledby="home-tab">
					<div class="btn-group">
						<button type="button" class="btn btn-success"
							data-ng-click="addOrderday()">
							<i class="fa fa-plus"></i> Nueva
						</button>
					</div>
					<br>
					<div class="table-responsive" data-ng-if="orderday.length == 0">
						<div class="alert alert-primary" role="alert"
							data-ng-if="!orderday.length">
							No se han encontrado ordenes del dia para el rango de fechas
							seleccionado <a data-ng-click="addOrderday()"
								style="cursor: pointer;" class="alert-link">Agregue una
								orden del dia para comenzar</a>. O seleccione otra rango de fechas
							para realizar la busqueda.
						</div>
					</div>
					<!-- data-ng-if="orderday.length > 0" -->
					<div class="table-responsive">
						<table id="datos"
							class="table table-inversed table-hover table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Orden del día</th>
									<th>Fecha</th>
									<th>Ver</th>
									<th>Actualizar</th>
									<th>Eliminar</th>
									<th>Versiones</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="od in orderdays track by $index">
									<td scope="row">{{$index+1}}</td>
									<td>{{od.nombre}}</td>
									<!--{{orderday.odOriginal ? 'versionado' : 'original'}} -->
									<td>{{od.fecha | date:'dd/MM/yyyy'}}</td>
									<td><button class="btn btn-primary btn-sm"
											data-ng-click="addOrderOfTheDay(od)">
											<i class="far fa-eye"></i>
										</button></td>
									<!-- updateOrderday -->
									<td><button type="button" class="btn btn-warning"
											data-ng-click="addNewOd(od)">nueva version</button></td>
									<td>

										<button type="button" class="btn btn-danger"
											data-ng-click="confirmDelete(od);">eliminar</button>
									</td>
									<td>
										<button type="button" class="btn btn-dark"
											data-ng-click="verVersiones(orderday);">Versiones</button>
									</td>

								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th colspan="9"></th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL MOSTRAS VERSIONES -->
	<div class="modal fade bd-example-modal-lg" id="modalVerssion"
		tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Versiones de Ordenes del día</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="table-responsive">
						<table class="table table-inversed table-hover table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Nombre</th>
									<th>Ver</th>
									<th>Version</th>
									<th>Fecha</th>
									<th>Eliminar</th>
									
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="verssion in orderdaysV track by $index"">
									<td scope="row">{{$index+1}}</td>
									<td>{{verssion.nombre}}</td>
									<td><button class="btn btn-primary btn-sm"
											data-ng-click="viewVerssion(verssion)">
											<i class="far fa-eye"></i>
										</button></td>
									<td>{{verssion.odOriginal ? 'versionado' : 'original'}}</td>
									<td>{{verssion.fecha | date:'dd/MM/yyyy'}}</td>
									
									<td><button type="button" class="btn btn-danger"
											data-ng-click="confirmDelete(orderday);">eliminar</button></td>

								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th colspan="9"></th>
								</tr>
							</tfoot>
						</table>
					</div>

					<div class="modal-footer">
						<!-- 						<button type="button" class="btn btn-primary">Save -->
						<!-- 							changes</button> -->
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- MODAL muestra el contenido de versiones del OD -->
	<div class="modal fade bd-example-modal-lg" id="modalView" tabindex="-1"
		role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Ordenes del día para la sesión</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div data-ng-repeat="a in orderdayView.elementsOd track by $index">
							<p class="element-name">
								<strong>{{a.nombre}}</strong>
							</p>
						<ol class="list-paragraphs" type="a" data-ng-repeat="p in a.paragraphs track by $index">
							<li>{{p.contenidotxt}}</li>
							<li class="list-subparagraphs">
								<ol class="subparrafo" data-ng-repeat="sp in p.subParagraphs track by $index">
									<li>{{sp.contenidotxt}}</li>
									
								</ol>

							</li>

						</ol>
					</div>
					<div class="modal-footer">
						<!-- 						<button type="button" class="btn btn-primary">Save -->
						<!-- 							changes</button> -->
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- MODAL MOPSTRAR ORDENES DEL DIA -->
	<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1"
		role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Ordenes del día para la sesión</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div data-ng-repeat="a in orderdayshow.elementsOd track by $index">
							<p class="element-name">
								<strong>{{a.nombre}}</strong>
							</p>
						<ol class="list-paragraphs" type="a" data-ng-repeat="p in a.paragraphs track by $index">
							<li>{{p.contenidotxt}}</li>
							<li class="list-subparagraphs">
								<ol class="subparrafo" data-ng-repeat="sp in p.subParagraphs track by $index">
									<li>{{sp.contenidotxt}}</li>
									
								</ol>

							</li>

						</ol>
					</div>
					<div class="modal-footer">
						<!-- 						<button type="button" class="btn btn-primary">Save -->
						<!-- 							changes</button> -->
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript">
		function changetxts(_tipo) {
			if (_tipo == 1) {
				document.getElementById('spnDates').innerHTML = 'del dia '
						+ document.getElementById('txtFechaBusqueda').value
						+ ' al '
						+ document.getElementById('txtFechaBusquedaFin').value;
			} else {
				document.getElementById('spnDates').innerHTML = '';
			}

		}
	</script>
</section>