<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Page Heading -->
<style>
.margin-top {
	margin-top: 1em;
}

.marggin {
	margin-left: 2em;
	margin-top: 3em;
}

.new {
	margin-top: 6em;
}

#check {
	margin-left: 5em;
	margin-top: 3em;
}
</style>
<h1 class="my-4">
	{{titleTabView}} <small>{{titleSession}}</small>
</h1>
<!-- data-ng-show="voteSession !== null" -->
<section data-ng-show="orderday !== null">
	<div class="row">
		<div class="col-ld-12 col-md-12 col-sm-12">
			<form name="formOrderDay"
				data-ng-submit="submitForm(formOrderDay.$valid)" novalidate>
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">{{!orderday.id ? 'NUEVA ': 'ACTUALIZAR
							'}}</h5>

					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="col-2 col-md-3">
								<label>Nuevo</label> <br>
								<button data-ng-click="addMudulesOd()" type="button"
									class="btn btn-info">Nuevo Elemento</button>
							</div>
							<div class="col-2 col-md-3">
								<label for="inputState">Seleccionar un elemento</label> <select
									data-ng-options="modulo.nombre for modulo in modulosod track by modulo.id"
									data-ng-change="change();" data-ng-model="orderday.moduloOd"
									id="inputState" class="form-control" >
									<option disabled value="">Seleccionar...</option>

									<!-- 									<option data-ng-repeat="modulo in modulosod" -->
									<!-- 										data-ng-value="modulo">{{modulo.nombre}}</option> -->
								</select>
							</div>
							<div class="container margin-top">
								<div class="form-group row">
									<label for="txtFecha" class="col-sm-2 col-form-label">Fecha
									</label>
									<div class="input-group input-group-lg col-sm-10">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroup-sizing-lg5"><i
												class="far fa-calendar-alt"></i></span>
										</div>
										<input type="date" class="form-control" id="txtFecha"
											data-format-date required maxlength="250"
											data-ng-model="orderday.fecha">
									</div>
								</div>
								<div class="form-group row">
									<label for="txtNombreOD" class="col-sm-2 col-form-label">Nombre
										de la OD</label>
									<div class="input-group input-group-lg col-sm-10">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroup-sizing-lg6"><i
												class="far fa-file-alt"></i></span>
										</div>
										<input type="text" class="form-control" id="txtNombreOD"
											placeholder="Nombre de la Orden del Dia"
											data-ng-model="orderday.nombre" required maxlength="250">
									</div>
								</div>
							</div>

							<br>
							<div class="wrapper col-md-12">
								<div class="margin-top"
									data-ng-repeat="p in orderday.paragraphs track by $index">

									<div class="col">
										<input class="form-check-input new"
											data-ng-model="orderday.paragraphs[$index].isIniciativa"
											type="checkbox" value="" id="defaultCheck1"> <label
											class="form-check-label" for="defaultCheck1"></label>

									</div>
									<div class="col-2 col-md-11">
										<div>
											<label>{{orderday.moduloOd.nombre}}</label>

											<div class="input-group">
												<textarea class="form-control" rows="4" name="text"
													placeholder="Agregar parrafo ..."
													aria-label="Hi there, I would like to ..." required
													data-msg="Please enter a reason."
													data-ng-model="orderday.paragraphs[$index].contenidotxt"></textarea>

												<div class="col-2 col-md-2">
													<button class="btn btn-primary btn-sm"
														data-ng-click="addParagraph(p.nivel)">
														<i class="fas fa-plus-square"></i>
													</button>

													<button type="button" class="btn btn-info btn-sm"
														data-ng-click="addSubParagraphs($index)">
														<i class="fa fa-plus-square"></i>SUB
													</button>
												</div>

											</div>
										</div>
									</div>
									<div class="row margin-top"
										data-ng-repeat="sp in p.subParagraphs track by $index">
										<div class="col">

											<input data-ng-model="p.subParagraphs[$index].isIniciativa"
												class="form-check-input marggin" type="checkbox" value=""
												id="defaultCheck1"> <label class="form-check-label"
												for="defaultCheck1"></label>


										</div>
										<div class="col-4 col-md-8">
											<div class="input-group">
												<textarea class="form-control" rows="4" name="text"
													placeholder="Agregar parrafo ..."
													aria-label="Hi there, I would like to ..." required
													data-msg="Please enter a reason."
													data-ng-model="p.subParagraphs[$index].contenidotxt"></textarea>
											</div>
										</div>
										<div class="col-2 col-md-3">
											<button class="btn btn-primary btn-sm"
												data-ng-click="addSubParagraphs($index)">
												<i class="fas fa-plus-square"></i>
											</button>

											<button type="button" class="btn btn-info btn-sm"
												data-ng-click="addSubOfSubParagraphs($parent.$index,$index)">
												<i class="fa fa-plus-square"></i>SUB
											</button>
										</div>
										<div class="container margin-top">
											<div class="row"
												data-ng-repeat="sbp in sp.subParagraphs track by $index">
												<div class="col-2">
													<input
														data-ng-model="sp.subParagraphs[$index].isIniciativa"
														class="form-check-input margin" type="checkbox" value=""
														id="defaultCheck1"> <label
														class="form-check-label" for="defaultCheck1"></label>


												</div>
												<div class="col-4 col-md-7 margin-top">
													<div class="input-group">
														<textarea class="form-control" rows="4" name="text"
															placeholder="Agregar parrafo ..."
															aria-label="Hi there, I would like to ..." required
															data-msg="Please enter a reason."
															data-ng-model="sp.subParagraphs[$index].contenidotxt"></textarea>
													</div>
												</div>
												<div class="col-2 col-md-2">
													<button class="btn btn-primary btn-sm" id="button-sbp"
														data-ng-click="addSubOfSubParagraphs($parent.$index,$index)">
														<i class="fas fa-plus-square"></i>
													</button>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- CardBody -->
					<div class="card-footer">
						<button type="submit" class="btn btn-success">{{!orderday.id
							? 'Guardar': 'Guardar version'}}</button>
						<button type="button" class="btn btn-warning">Publicar</button>

						<button type="button" class="btn btn-danger"
							data-ng-click="cancelAddUpOrderday()">Cancelar</button>
					</div>
					<!-- CardFooter -->
				</div>
				<!-- Card -->
			</form>
		</div>
	</div>
</section>

<!-- data-ng-if="voteSession === null" -->
<section data-ng-if="orderday === null">
	<div class="card w-95">
		<div class="card-body">
			<form class="form-inline" name="formFiltros">
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtFechaBusqueda" class="sr-only">Fecha de</label> <input
						type="date" class="form-control" id="txtFechaBusqueda"
						data-ng-max="voteSessionOn.fechaBusquedaFin" name="fechaInicio"
						data-ng-model="voteSessionOn.fechaBusqueda" required="required"
						data-ng-class="formFiltros.fechaInicio.$invalid ? 'is-invalid': ''">

				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtFechaBusquedaFin" class="sr-only">Fecha al </label>
					<input type="date" class="form-control" id="txtFechaBusquedaFin"
						data-ng-min="voteSessionOn.fechaBusqueda" name="fechaFin"
						data-ng-class="formFiltros.fechaFin.$invalid ? 'is-invalid': ''"
						data-ng-model="voteSessionOn.fechaBusquedaFin" required="required">
				</div>
				<button type="button" class="btn btn-dark"
					data-ng-click="getVoteSessionsDateOnly(voteSessionOn.fechaBusqueda, voteSessionOn.fechaBusquedaFin)">
					Buscar</button>
				<!-- 				<span class="invalid-feedback d-block" -->
				<!-- 					data-ng-show="formFiltros.fechaInicio.$invalid || formFiltros.fechaFin.$invalid">Rango -->
				<!-- 					de fechas inválido!</span> -->

				<div class="input-group input-group-lg col-sm-6 margin-top">
					<input type="search" class="form-control" id="searchTerm"
						placeholder="Buscar por nombre" data-ng-keyup="buscar();"
						required="required">

				</div>

			</form>
		</div>
	</div>
	<div class="card w-95">
		<div class="card-header">
			<h5>Lista de Orden del Dia</h5>
		</div>
		<div class="card-body">
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel"
					aria-labelledby="home-tab">
					<div class="btn-group">
						<button type="button" class="btn btn-success"
							data-ng-click="addOrderday()">
							<i class="fa fa-plus"></i> Nueva
						</button>
					</div>
					<br>
					<div class="table-responsive" data-ng-if="orderday.length == 0">
						<div class="alert alert-primary" role="alert"
							data-ng-if="!orderday.length">
							No se han encontrado ordenes del dia para el rango de fechas
							seleccionado <a data-ng-click="addOrderday()"
								style="cursor: pointer;" class="alert-link">Agregue una
								orden del dia para comenzar</a>. O seleccione otra rango de fechas
							para realizar la busqueda.
						</div>
					</div>
					<!-- data-ng-if="orderday.length > 0" -->
					<div class="table-responsive">
						<table id="datos"
							class="table table-inversed table-hover table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Orden del día</th>
									<th>Fecha</th>
									<th>Ver</th>
									<th>Actualizar</th>
									<th>Eliminar</th>
									<th>Versiones</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="orderday in orderdays track by $index">
									<td scope="row">{{$index+1}}</td>
									<td>{{orderday.nombre}} {{orderday.odOriginal ?
										'versionado' : 'original'}}</td>
									<td>{{orderday.fecha}}</td>
									<td><button class="btn btn-primary btn-sm"
											data-ng-click="addOrderOfTheDay(orderday)">
											<i class="far fa-eye"></i>
										</button></td>
									<!-- updateOrderday -->
									<td><button type="button" class="btn btn-warning"
											data-ng-click="addNewOd(orderday)">nueva version</button></td>
									<td>

										<button type="button" class="btn btn-danger"
											data-ng-click="confirmDelete(orderday);">eliminar</button>
									</td>
									<td>
										<button type="button" class="btn btn-dark"
											data-ng-click="verVersiones();">Versiones</button>
									</td>

								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th colspan="9"></th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL MOSTRAS VERSIONES -->
	<div class="modal fade bd-example-modal-lg" id="modalVerssion"
		tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Versiones de Ordenes del día</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="table-responsive">
						<table class="table table-inversed table-hover table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Nombre</th>
									<th>Version</th>
									<th>Fecha publicacion</th>
									<th>Status</th>
									<th>Eliminar</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="orderday in orderdaysV track by $index">
									<td scope="row">{{$index+1}}</td>
									<td>{{orderday.nombre}}</td>
									<td>{{orderday.odOriginal ? 'versionado' : 'original'}}</td>
									<td>{{orderday.fecha}}</td>

								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th colspan="9"></th>
								</tr>
							</tfoot>
						</table>
					</div>

					<div class="modal-footer">
						<!-- 						<button type="button" class="btn btn-primary">Save -->
						<!-- 							changes</button> -->
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!-- MODAL MOPSTRAR ORDENES DEL DIA -->
	<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1"
		role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Ordenes del día para la sesión</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div data-ng-repeat="modulo in modulosod track by $index">
						<ol class="list-paragraphs" type="a"
							data-ng-repeat="p in orderdayshow.paragraphs track by $index">
							<p>
								<strong>{{modulo.nombre}}</strong>
							</p>
							<li>{{p.contenidotxt}}</li>
							<li class="list-subparagraphs">
								<ol type="I"
									data-ng-repeat="sp in p.subParagraphs track by $index">
									<li>{{sp.contenidotxt}}</li>
									<li class="list-subOfSubParagraphs">
										<ol data-ng-repeat="sbp in sp.subParagraphs track by $index"
											class="margin-top">
											<li>{{sp.contenidotxt}}</li>

										</ol>
									</li>
								</ol>

							</li>

						</ol>
					</div>
					<div class="modal-footer">
						<!-- 						<button type="button" class="btn btn-primary">Save -->
						<!-- 							changes</button> -->
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript">
		function changetxts(_tipo) {
			if (_tipo == 1) {
				document.getElementById('spnDates').innerHTML = 'del dia '
						+ document.getElementById('txtFechaBusqueda').value
						+ ' al '
						+ document.getElementById('txtFechaBusquedaFin').value;
			} else {
				document.getElementById('spnDates').innerHTML = '';
			}

		}
	</script>
</section>