<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Page Heading -->
<h1 class="my-4">
	<small>Orden del día</small>
</h1>

<section data-ng-if="odgazzete === null">
	<div class="card w-95">
		<div class="card-body">
			<form class="form-inline" name="formFiltros">
				<div class="input-group mx-sm-3 mb-2">
					<input type="date" class="form-control" id="txtFechaBusqueda"
						data-ng-max="filtrosFechas.searchDateEnd" name="fechaInicio"
						data-ng-model="filtrosFechas.searchDateStart"
						data-ng-class="formFiltros.fechaInicio.$invalid ? 'is-invalid': ''"
						required="required"> 
						<label for="txtFechaBusqueda" class="sr-only">Fecha de</label>
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="far fa-calendar-alt"></i>
						</div>
					</div>
				</div>

				<div class="input-group mx-sm mb-2">
					<input type="date" class="form-control" id="txtFechaBusquedaFin"
						data-ng-min="filtrosFechas.searchDateStart" name="fechaFin"
						data-ng-model="filtrosFechas.searchDateEnd"
						data-ng-class="formFiltros.fechaFin.$invalid ? 'is-invalid': ''"
						required="required"> <label for="txtFechaBusquedaFin"
						class="sr-only">Fecha al </label>
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="far fa-calendar-alt"></i>
						</div>
					</div>
				</div>
				<div class="form-group mx-sm-2 mb-2">
					<button type="button" class="btn btn-dark"
						data-ng-click="getBetweenDatesPublished(filtrosFechas);">
						<i class="fas fa-search"></i> Buscar
					</button>
				</div>
			</form>
			<div class="form-group mx-sm-2 mb-2">
				<span class="invalid-feedback d-block"
					data-ng-show="formFiltros.fechaInicio.$invalid || formFiltros.fechaFin.$invalid">Rango
					de fechas inválido!</span>
				</div>
		</div>
	</div>
	<div class="card w-95">
		<div class="card-header">
			<div class="row align-items-start">
				<button type="button" class="btn btn-light"
					data-ng-click="previous();">
					<i class="fas fa-arrow-left"></i> Regresar
				</button>
				<div class="col-6">
					<div class="input-group input-group-lg col-sm-12">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fas fa-search"></i>
							</div>
						</div>
						<input type="search" class="form-control" value="search"
							id="example-search-input" placeholder="Buscar"
							data-ng-model="searchElement" required="required">
					</div>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel"
					aria-labelledby="home-tab">
					<br> <br>
					<div class="alert alert-primary" role="alert"
						data-ng-if="publishedOds.length == 0">
						<div class="alert alert-primary" role="alert"
							data-ng-if="!publishedOds.length">No se han encontrado
							Orden del dia para el rango de fechas seleccionado - seleccione
							otro rango de fechas para realizar la busqueda.</div>
					</div>
					<div class="table-responsive" data-ng-if="publishedOds.length > 0">
						<table class="table table-inversed table-hover table-striped">
							<thead>
								<tr>
									<th>Fecha</th>
									<th>Nombre</th>
									<th>Ver</th>
									<th>Descargar</th>
									<th>Anexos</th>
								</tr>
							</thead>
							<tbody>
								<tr
									data-ng-repeat="orderday in publishedOds | filter : searchElement track by orderday.id">
									<td>{{orderday.fecha | date:'dd/MM/yyyy'}}</td>
									<td>{{orderday.nombre}}</td>
									<td><button type="button" class="btn btn-danger">ver</button></td>
									<td><button type="button" class="btn btn-warning"
											data-ng-click="printPdf();">Descargar</button></td>
									<td><button type="button" class="btn btn-dark"
											data-toggle="modal" data-target="#attachments-verssion"
											data-ng-click="viewAttachmentsV(orderday);">Anexos</button></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th colspan="9"></th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<div class="modal fade bd-example-modal-lg" id="attachments-verssion"
	tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Anexos</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="col-8">
					<div class="input-group input-group-lg col-sm-12">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fas fa-search"></i>
							</div>
						</div>
						<input type="search" class="form-control" id="searchTerm"
							placeholder="Buscar" data-ng-keyup="buscar();"
							required="required">
					</div>
				</div>
				<br>
				<div class="alert alert-primary" role="alert"
					data-ng-if="!orderday.attached.files.length">No se han
					encontrado anexos de esta orden del dia</div>
				<div class="table-responsive"
					data-ng-if="orderday.attached.files.length > 0">
					<table id="datos"
						class="table table-inversed table-hover table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Archivo</th>
								<th></th>
								<th><button type="button" data-ng-click="downloadZip()"
										class="btn btn-info">
										<i class="fas fa-download"></i> Descargar
									</button></th>

							</tr>
						</thead>
						<tbody>
							<tr
								data-ng-repeat="file in orderday.attached.files | filter: {status: 1} track by $index">
								<td scope="row">{{$index+1}}</td>
								<td>{{file.originalName}}</td>
								<td><button type="button" class="btn btn-danger"
										data-toggle="modal" data-target="#show-file"
										data-ng-click="showDownloadFile(file);">
										Ver
										<!--<i class="fas fa-file-pdf"></i> -->
									</button></td>
								<td><button type="button" class="btn btn-secondary"
										data-ng-click="downloadFile(file);">
										Descargar
										<!--<i class="fas fa-file-download"></i> -->
									</button></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="9"></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!--MODAL MUESTRA EL CONTENIDO DE LOS DOCUMENTOS ANEXADOS EN LA OD-->
<div class="modal fade bd-example-modal-lg" id="show-file" tabindex="-1"
	role="dialog" aria-labelledby="showFile" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered"
		role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="showFile">{{fileName.originalName}}</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="embed-responsive embed-responsive-16by9 text-center">
					<object width="400" height="400" id="object-data"></object>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var tableToExcel = (function() {
		var uri = 'data:application/vnd.ms-excel;base64,', template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>', base64 = function(
				s) {
			return window.btoa(unescape(encodeURIComponent(s)))
		}, format = function(s, c) {
			return s.replace(/{(\w+)}/g, function(m, p) {
				return c[p];
			})
		}
		return function(table, name) {
			if (!table.nodeType)
				table = document.getElementById(table)
			var ctx = {
				worksheet : name || 'Worksheet',
				table : table.innerHTML
			}
			window.location.href = uri + base64(format(template, ctx))
		}
	})()
</script>
