<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
.modal-lg {
	max-width: 80% !important;
}
fieldset.scheduler-border {
	border: 1px groove #ddd !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width: inherit; /* Or auto */
	padding: 0 10px; /* To give a bit of padding on the left and right */
	border-bottom: none;
}
.container-img-preview {
    border: 1px solid var(--gray);
    height: 15em;
    width: 15em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative
}
.container-img-preview img{
	height: 100%;
	display: block;
    width: 100%;
    position: absolute;
    z-index: 10;
}
.container-img-preview::before {
	content: '';
	position: absolute;
    width: 141%;
    border: .5px solid var(--gray);
    transform: rotate(45deg)
}
.container-img-preview::after {
	content: '';
	position: absolute;
    width: 141%;
    border: .5px solid var(--gray);
    transform: rotate(-45deg)
}
.image-preview-input {
    width: 76%;
    left: 12%;
}
</style>
<h1 class="my-4">
	Expediente electrónico administradores <i class="far fa-address-card"></i>
</h1>
<section data-ng-if="partner">
		<div class="row">
		<div class="mx-auto col-sm-12 col-md-12 col-lg-12">
			<form name="formLegislator"
				data-ng-submit="submitForm(formLegislator.$valid)" novalidate>
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">{{!recorLegislator.id ? 'Nuevo ':
							'Actualizar'}}</h5>
					</div>
					<div class="card-body">
						<!-- 					Datos personales del legislador -->
						<fieldset class="scheduler-border">
							<legend align="left" class="scheduler-border">Datos
								personales</legend>
							<article class="row">
								<div class="col-md-4">
									<div class="container-img-preview">
									<i class="fas fa-user fa-5x text-dark"></i>
									<img data-ng-show="partner.foto" alt="Vista previa foto" data-ng-src="{{partner.foto? partner.foto.filePath: './img/archivo-de-imagen.png'}}">
								</div>
									<label class="btn btn-default image-preview-input"
										 data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"> <span
										class="glyphicon glyphicon-folder-open"></span> <span
										class="image-preview-input-title"><i class="fas fa-camera text-secondary"></i> Foto</span> <input
										type="file" accept="image/png, image/jpeg"
										name="input-file-preview"
										data-fileread="partner.foto.filePath" /> <!-- rename it -->
									</label>
									<div class="valid-feedback d-block" data-ng-show="validClass.valid">
							        	Ingrese una imagen.
							      </div>
								</div>
								<div class="col-md-8">
									<div class="form-group">
										<label for="nameLegislator">Nombre(s)</label> <input
											type="text" name="nameLegislator" class="form-control" required
											data-ng-class="validClass.name ? 'is-'+validClass.name:''"
											data-ng-model="partner.name" id="nameLegislator" maxlength="40">
										<div class="d-block" 
											data-ng-class="validClass.name ? validClass.name+'-feedback':''"
											data-ng-show="validClass.name">
								        	Por favor ingrese el nombre.
								      </div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="surnamePLegislator">Apellido Paterno</label> <input
												name="surnamePLegislator" type="text" class="form-control"
												data-ng-class="validClass.surnameP ? 'is-'+validClass.surnameP:''"
												maxlength="40" data-ng-model="partner.apPaterno" required
												id="surnamePLegislator">
											<div class="d-block" data-ng-show="validClass.surnameP"
												data-ng-class="validClass.surnameP ? validClass.surnameP+'-feedback':''">
									        	Por favor ingrese el apellido paterno.
									      </div>
										</div>
										<div class="form-group col-md-6">
											<label for="surnameMLegislator">Apellido Materno</label> <input
												name="surnamePMegislator" type="text" class="form-control"
												maxlength="40" id="surnamePMegislator" required
												data-ng-class="validClass.surnameM ? 'is-'+validClass.surnameM:''"
												data-ng-model="partner.apMaterno">
											<div class="d-block" data-ng-show="validClass.surnameM"
												data-ng-class="validClass.surnameM ? validClass.surnameM+'-feedback':''">
									        	Por favor ingrese el apellido materno.
									      </div>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-4">
											<label for="fechaCumplianosLegislator">Fecha de
												nacimiento</label> <input data-ng-model="partner.fechaCumplianos"
												name="fechaCumplianosLegislator" data-ng-max="maxDate"
												type="date" class="form-control" required
												data-ng-class="validClass.fechaCumplianos ? 'is-'+validClass.fechaCumplianos:''"
												id="fechaCumplianosLegislator">
											<div class="d-block" data-ng-show="validClass.fechaCumplianos"
												data-ng-class="validClass.fechaCumplianos ? validClass.fechaCumplianos+'-feedback':''">
									        	Por favor ingrese una fecha correcta.
									      </div>
										</div>
										<div class="form-group col-md-4">
											<label for="edadLegislator">Edad</label> <input min="1"
												data-ng-model="partner.edad" name="edadLegislator" required
												data-ng-class="validClass.edad ? 'is-'+validClass.edad:''"
												type="number" class="form-control" id="edadLegislator">
											<div class="d-block" data-ng-show="validClass.edad"
												data-ng-class="validClass.edad ? validClass.edad+'-feedback':''">
									        	Por favor ingrese la edad
									      </div>
										</div>
										<div class="form-group col-md-4">
											<label for="sexoLegislator">Sexo</label> <select
												data-ng-model="partner.sexo" id="sexoLegislator" required
												data-ng-class="validClass.sexo ? 'is-'+validClass.sexo:''"
												class="form-control" name="sexoLegislator">
												<option value="" selected disabled>Seleccione..</option>
												<option value="m">Masculino</option>
												<option value="f">Femenino</option>
											</select>
											<div class="d-block" data-ng-show="validClass.sexo"
												data-ng-class="validClass.sexo ? validClass.sexo+'-feedback':''">
									        	Por favor ingrese el sexo.
									      </div>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="curpLegislator">Curp</label> <input
												data-ng-model="partner.curp" name="curpLegislator"
												data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
												type="text" class="form-control" id="curpLegislator">
											<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese la Curp.
									      </div>
										</div>
										<div class="form-group col-md-6">
											<label for="rfcLegislator">RFC</label> <input
												data-ng-model="partner.rfc" name="rfcLegislator" type="text"
												data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
												class="form-control" id="rfcLegislator">
											<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el RFC.
									      </div>
										</div>
									</div>
								</div>
							</article>
						</fieldset>
						<!-- 					Datos domicilio particular -->
						<fieldset class="scheduler-border">
							<legend align="left" class="scheduler-border">Domicilio
								Particular</legend>
							<article class="row">
								<div class="form-row col-12">
									<div class="form-group col-md-6">
										<label for="streetPLegislator">Calle</label> <input
											data-ng-model="partner.section.homeAddress.street" required
											name="streetLegislator" type="text" class="form-control"
											data-ng-class="validClass.streetL ? 'is-'+validClass.streetL:''"
											id="streetLegislator">
										<div class="d-block" data-ng-show="validClass.streetL"
												data-ng-class="validClass.streetL ? validClass.streetL+'-feedback':''">
									        	Por favor ingrese la calle.
									      </div>
									</div>
									<div class="form-group col-md-3">
										<label for="numberExtLegislator">Número ext.</label> <input
											data-ng-model="partner.section.homeAddress.numberExt" required
											name="numberExtLegislator" type="text" class="form-control"
											data-ng-class="validClass.numberExtL ? 'is-'+validClass.numberExtL:''"
											id="numberExtLegislator">
										<div class="d-block" data-ng-show="validClass.numberExtL"
											data-ng-class="validClass.numberExtL ? validClass.numberExtL+'-feedback':''">
									        	Por favor ingrese el número ext.
									      </div>
									</div>
									<div class="form-group col-md-3">
										<label for="numberIntLegislator">Número Int.</label> <input
											data-ng-model="partner.section.homeAddress.numberInt"
											name="numberIntLegislator" type="text" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="numberIntLegislator" >
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el número int.
									      </div>
									</div>
								</div>
								<div class="form-row col-12">
									<div class="form-group col-md-4">
										<label for="cpLegislator">C.P.</label> <input
											data-ng-model="partner.section.homeAddress.cp" type="text"
											data-ng-class="validClass.cpL ? 'is-'+validClass.cpL:''"
											class="form-control" id="cpLegislator" required>
										<div class="d-block" data-ng-show="validClass.cpL"
											data-ng-class="validClass.cpL ? validClass.cpL+'-feedback':''">
									        	Por favor ingrese el C.P.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="colonyLegislator">Colonia</label> <input
											data-ng-model="partner.section.homeAddress.colony" required
											name="colonyLegislator" type="text" class="form-control"
											data-ng-class="validClass.colonyL ? 'is-'+validClass.colonyL:''"
											id="colonyLegislator">
										<div class="d-block" data-ng-show="validClass.colonyL"
											data-ng-class="validClass.colonyL ? validClass.colonyL+'-feedback':''">
									        	Por favor ingrese la colonia.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="betweenStreetsLegislator">Entre calles</label> <input
											data-ng-model="partner.section.homeAddress.betweenStreets"
											name="betweenStreetsLegislator" type="text"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											class="form-control" id="betweenStreetsLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese entre que calles.
									      </div>
									</div>
								</div>
								<div class="form-row col-12">
									<div class="form-group col-md-4">
										<label for="stateLegislator">Estado</label> <input
											data-ng-model="partner.section.homeAddress.state" required
											name="stateLegislator" type="text" class="form-control"
											data-ng-class="validClass.stateL ? 'is-'+validClass.stateL:''"
											id="stateLegislator">
										<div class="d-block" data-ng-show="validClass.stateL"
											data-ng-class="validClass.stateL ? validClass.stateL+'-feedback':''">
									        	Por favor ingrese el estado.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="municipalityLegislator">Delegación/Municipio</label>
										<input
											data-ng-model="partner.section.homeAddress.municipality"
											name="municipalityLegislator" type="text" required
											data-ng-class="validClass.municipalityL ? 'is-'+validClass.municipalityL:''"
											class="form-control" id="municipalityLegislator">
										<div class="d-block" data-ng-show="validClass.municipalityL"
											data-ng-class="validClass.municipalityL ? validClass.municipalityL+'-feedback':''">
									        	Por favor ingrese la Delegación/Municipio.
									      </div>
									</div>
								</div>
							</article>
						</fieldset>
						<!-- 					Datos domicilio laboral -->
						<fieldset class="scheduler-border">
							<legend align="left" class="scheduler-border">Domicilio
								Laboral</legend>
							<article class="row">
								<div class="form-row col-12">
									<div class="form-group col-md-6">
										<label for="streetLLegislator">Calle</label> <input
											data-ng-model="partner.section.laborAddress.street" required
											data-ng-class="validClass.streetLL ? 'is-'+validClass.streetLL:''"
											name="streetLLegislator" type="text" class="form-control"
											id="streetLLegislator">
										<div class="d-block" data-ng-show="validClass.streetLL"
											data-ng-class="validClass.streetLL ? validClass.streetLL+'-feedback':''">
									        	Por favor ingrese la calle.
									      </div>
									</div>
									<div class="form-group col-md-3">
										<label for="numberExtLLegislator">Número ext.</label> <input
											data-ng-model="partner.section.laborAddress.numberExt" required
											name="numberExtLLegislator" type="text" class="form-control"
											data-ng-class="validClass.numberExtLL ? 'is-'+validClass.numberExtLL:''"
											id="numberExtLLegislator">
										<div class="d-block" data-ng-show="validClass.numberExtLL"
											data-ng-class="validClass.numberExtLL ? validClass.numberExtLL+'-feedback':''">
									        	Por favor ingrese el número ext.
									      </div>
									</div>
									<div class="form-group col-md-3">
										<label for="numberIntLLegislator">Número Int.</label> <input
											data-ng-model="partner.section.laborAddress.numberInt"
											name="numberIntLLegislator" type="text" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="numberIntLLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el número int.
									      </div>
									</div>
								</div>
								<div class="form-row col-12">
									<div class="form-group col-md-4">
										<label for="cpLLegislator">C.P.</label> <input
											data-ng-model="partner.section.laborAddress.cp" required
											name="cpLLegislator" type="text" class="form-control"
											data-ng-class="validClass.cpLL ? 'is-'+validClass.cpLL:''"
											id="cpLLegislator">
										<div class="d-block" data-ng-show="validClass.cpLL"
											data-ng-class="validClass.cpLL ? validClass.cpLL+'-feedback':''">
									        	Por favor ingrese el C.P.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="colonyLLegislator">Colonia</label> <input
											data-ng-model="partner.section.laborAddress.colony" required
											name="colonyLLegislator" type="text" class="form-control"
											data-ng-class="validClass.colonyLL ? 'is-'+validClass.colonyLL:''"
											id="colonyLLegislator">
										<div class="d-block" data-ng-show="validClass.colonyLL"
											data-ng-class="validClass.colonyLL ? validClass.colonyLL+'-feedback':''">
									        	Por favor ingrese la colonia.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="betwennStreetsLLegislator">Entre calles</label> <input
											data-ng-model="partner.section.laborAddress.betwennStreets"
											type="text" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="betwennStreetsLLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese entre que calles.
									      </div>
									</div>
								</div>
								<div class="form-row col-12">
									<div class="form-group col-md-4">
										<label for="stateLLegislator">Estado</label> <input
											data-ng-model="partner.section.laborAddress.state"
											name="stateLLegislator" type="text" class="form-control" required
											data-ng-class="validClass.stateLL ? 'is-'+validClass.stateLL:''"
											id="stateLLegislator">
										<div class="d-block" data-ng-show="validClass.stateLL"
											data-ng-class="validClass.stateLL ? validClass.stateLL+'-feedback':''">
									        	Por favor ingrese el estado.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="municipalityLLegislator">Delegación/Municipio</label>
										<input
											data-ng-model="partner.section.laborAddress.municipality"
											name="municipalityLLegislator" type="text" required
											data-ng-class="validClass.municipalityLL ? 'is-'+validClass.municipalityLL:''"
											class="form-control" id="municipalityLLegislator">
										<div class="d-block" data-ng-show="validClass.municipalityLL"
											data-ng-class="validClass.municipalityLL ? validClass.municipalityLL+'-feedback':''">
									        	Por favor ingrese la Delegación/Municipio.
									      </div>
									</div>
									<div class="form-group col-md-3">
										<label for="numberFixedLLegislator">Número fijo</label> <input
											data-ng-model="partner.section.laborAddress.numberFixed"
											name="numberFixedLegislator" type="text" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="numberFixedLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el número fijo.
									      </div>
									</div>
									<div class="form-group col-md-1">
										<label for="extLLegislator">Ext</label> <input
											data-ng-model="partner.section.laborAddress.ext"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											name="extLLegislator" type="text" class="form-control"
											id="extLLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el ext.
									      </div>
									</div>
								</div>
							</article>
						</fieldset>
						<!-- 					Nivel de estudios-->
						<fieldset class="scheduler-border">
							<legend align="left" class="scheduler-border">Nivel de
								estudios</legend>
							<article class="row">
								<div class="form-row col-12">
									<div class="form-group col-md-6">
										<label for="lastGradeLegislator">Ultimo grado de
											estudios</label> <select class="form-control"
											data-ng-class="validClass.lastGrade ? 'is-'+validClass.lastGrade:''"
											id="lastGradeLegislator" name="lastGradeLegislator" required
											data-ng-model="partner.section.studies.lastGrade">
											<option value="" selected disabled>Seleccione...</option>
											<option value="Primaria">Primaria</option>
											<option value="Secundaria">Secundaria</option>
											<option value="Preparatoria">Preparatoria</option>
											<option value="Universidad">Universidad</option>
											<option value="Maestria">Maestria</option>
											<option value="Doctorado">Doctorado</option>
										</select>
										<div class="d-block" data-ng-show="validClass.lastGrade"
											data-ng-class="validClass.lastGrade ? validClass.lastGrade+'-feedback':''">
									        	Por favor ingrese el ultimo grado de estudios.
									      </div>
									</div>
									<div class="form-group col-md-6">
										<label for="complementaryStudiesLegislator">Estudios
											complementarios</label> <input
											data-ng-model="partner.section.studies.complementaryStudies"
											name="complementaryStudiesLegislator" type="text"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											class="form-control" id="complementaryStudiesLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese estudios complementarios.
									      </div>
									</div>
								</div>
								<div class="form-row col-12">
									<div class="form-group col-md-6">
										<label for="careerLegislator">Carrea/Licenciatura</label> <input
											data-ng-model="partner.section.studies.career" required
											name="careerLegislator" type="text" class="form-control"
											data-ng-class="validClass.career ? 'is-'+validClass.career:''"
											id="careerLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.career"
											data-ng-class="validClass.career ? validClass.career+'-feedback':''">
									        	Por favor ingrese la Carrera/Licenciatura.
									      </div>
									</div>
									<div class="form-group col-md-6">
										<label for="complementaryStudiesOtherLegislator">Estudios
											complementarios</label> <input
											data-ng-model="partner.section.studies.complementaryStudiesOther"
											name="complementaryStudiesOtherLegislator" type="text"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											class="form-control" id="complementaryStudiesOtherLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese estudios complementarios.
									      </div>
									</div>
								</div>
								<div class="form-row col-12">
									<div class="form-group col-md-6">
										<label for="professionalLicenseLegislator">Cédula
											Profecional</label> <input
											data-ng-model="partner.section.studies.professionalLicense"
											name="professionalLicenseLegislator" type="text"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											class="form-control" id="professionalLicenseLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese la cédula profecional.
									      </div>
									</div>
								</div>
							</article>
						</fieldset>
						<fieldset class="scheduler-border">
							<legend align="left" class="scheduler-border">Datos de
								salud</legend>
							<article class="row">
								<div class="form-row col-12">
									<div class="form-group col-md-4">
										<label for="nssLegislator">NSS</label> <input
											data-ng-model="partner.nss" name="nssLegislator" type="text"
											data-ng-class="validClass.nss ? 'is-'+validClass.nss:''"
											class="form-control" id="nssLegislator" required>
										<div class="valid-feedback d-block" data-ng-show="validClass.nss"
											data-ng-class="validClass.nss ? validClass.nss+'-feedback':''">
									        	Por favor ingrese el NSS.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="allergiesLegislator">Alergías</label> <input
											data-ng-model="partner.section.health.allergies"
											name="allergiesLegislator" type="text" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="allergiesLegislator">
										<div class="valid-feedback d-block"  data-ng-show="validClass.valid">
									        	Por favor ingrese si tiene alergías.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="surnameMLegislator">Tipo de sangre</label> <input
											data-ng-model="partner.section.health.bloodType"
											name="surnamePMegislator" type="text" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="surnamePMegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el tipo de sangre.
									      </div>
									</div>
								</div>
								<div class="form-row col-12">
									<div class="form-group col-md-4">
										<label for="surnamePLegislator">Enfermedades</label> <input
											data-ng-model="partner.section.health.diseases"
											name="surnamePLegislator" type="text" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="surnamePLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese si tiene enfermedades.
									      </div>
									</div>
								</div>
							</article>
						</fieldset>
						<fieldset class="scheduler-border">
							<legend align="left" class="scheduler-border">Datos de
								contacto</legend>
							<article class="row">
								<div class="form-row col-12">
									<div class="form-group col-md-4">
										<label for="telefonoLegislator">No. Teléfono</label> <input
											data-ng-model="partner.telefono" name="telefonoLegislator"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											type="text" class="form-control" id="telefonoLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el No. Teléfono.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="celularLegislator">No. Celular</label> <input
											data-ng-model="partner.celular" name="celularLegislator"
											data-ng-class="validClass.celular ? 'is-'+validClass.celular:''"
											type="text" class="form-control" id="celularLegislator" required>
										<div class="valid-feedback d-block" data-ng-show="validClass.celular"
											data-ng-class="validClass.celular ? validClass.celular+'-feedback':''">
									        	Por favor ingrese el No. Celular.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="emailLegislator">Correo</label> <input
											data-ng-model="partner.email" name="emailLegislator"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											type="email" class="form-control" id="emailLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el correo.
									      </div>
									</div>
								</div>
								<div class="form-row col-12">
									<div class="form-group col-md-4">
										<label for="personLegislator">Persona de contacto</label> <input
											data-ng-model="partner.section.contact.person"
											name="personLegislator" type="text" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="personLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese la persona de contacto.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="relationshipLegislator">Parentesco</label> <input
											data-ng-model="partner.section.contact.relationship"
											name="relationshipLegislator" type="text"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											class="form-control" id="relationshipLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el parentesco.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="telephoneCLegislator">Teléfono</label> <input
											data-ng-model="partner.section.contact.telephone"
											name="telephoneCLegislator" type="text" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="telephoneCLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el teléfono.
									      </div>
									</div>
								</div>
							</article>
						</fieldset>
						<fieldset class="scheduler-border">
							<legend align="left" class="scheduler-border">Datos
								bancarios</legend>
							<article class="row">
								<div class="form-row col-12">
									<div class="form-group col-md-4">
										<label for="bankLegislator">Banco operador</label> <select
											class="form-control" id="bankLegislator"
											name="bankLegislator" 
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											data-ng-model="partner.section.bankData.bank">
											<option value="" selected disabled>Seleccione...</option>
											<option value="Bancomer">Bancomer</option>
											<option value="Banamex">Banamex</option>
										</select>
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor seleccione el banco operador.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="numberAccountLegislator">No. de cuenta</label> <input
											data-ng-model="partner.section.bankData.numberAccount"
											name="numberAccountLegislator" type="text"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											class="form-control" id="numberAccountLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el No. de cuenta.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="numberKeyLegislator">No. de cuenta CLABE</label> <input
											data-ng-model="partner.section.bankData.numberKey"
											name="numberKeyLegislator" type="text" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="numberKeyLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el No. de cuenta clabe.
									      </div>
									</div>
								</div>
							</article>
						</fieldset>
						<fieldset class="scheduler-border">
							<legend align="left" class="scheduler-border">Datos de
								contrato</legend>
							<article class="row">
								<div class="form-row col-12">
									<div class="form-group col-md-4">
										<label for="contractTypeLegislator">Tipo de contrato</label>
										<input
											data-ng-model="partner.section.contractData.contractType"
											name="contractTypeLegislator" type="text"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											class="form-control" id="contractTypeLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el tipo de contrato.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="jobLegislator">Puesto laboral</label> <select
											class="form-control" id="jobLegislator" name="jobLegislator"
											data-ng-class="validClass.job ? 'is-'+validClass.job:''"
											data-ng-model="partner.section.contractData.job" required>
											<option value="" selected disabled>Seleccione...</option>
											<option value="legislador">Legislador</option>
											<option value="Otro">Otro</option>
										</select>
										<div class="valid-feedback d-block" data-ng-show="validClass.job"
											data-ng-class="validClass.job ? validClass.job+'-feedback':''">
									        	Por favor seleccione el puesto laboral.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="areaLegislator">Área</label> <input
											data-ng-model="partner.section.contractData.area"
											name="areaLegislator" type="text" class="form-control"
											data-ng-class="validClass.area ? 'is-'+validClass.area:''"
											id="areaLegislator" required>
										<div class="valid-feedback d-block" data-ng-show="validClass.valid"
											data-ng-class="validClass.area ? validClass.area+'-feedback':''">
									        	Por favor ingrese el área.
									      </div>
									</div>
								</div>
								<div class="form-row col-12">
									<div class="form-group col-md-4">
										<label for="bossLegislator">Jefe inmediato</label> <input
											data-ng-model="partner.section.contractData.boss"
											name="bossLegislator" type="text" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="bossLegislator" required>
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese el jefe inmediato.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="startDateLegislator">Fecha de inicio</label> <input
											data-ng-model="partner.section.contractData.startDate" required
											name="startDateLegislator" type="date" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="startDateLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese la fecha de inicio.
									      </div>
									</div>
									<div class="form-group col-md-4">
										<label for="endDateLegislator">Fecha fín</label> <input
											data-ng-model="partner.section.contractData.endDate"
											name="endDateLegislator" type="date" class="form-control"
											data-ng-class="validClass.valid ? 'is-'+validClass.valid:''"
											id="endDateLegislator">
										<div class="valid-feedback d-block" data-ng-show="validClass.valid">
									        	Por favor ingrese la fecha fín.
									      </div>
									</div>
								</div>
							</article>
						</fieldset>
					</div>

					<div class="card-footer">
						<button type="submit" class="btn btn-success">
							<i class="fas" data-ng-class="!partner.id? 'fa-plus': 'fa-sync'"></i>
							{{!partner.id? 'Guardar': 'Actualizar'}}
						</button>
						<button type="button" class="btn btn-danger"
							data-ng-click="cancelAddUp()">
							<i class="fas fa-times"></i> Cancelar
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<section data-ng-if="!partner">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="btn-group mr-3">
					<button type="button" class="btn btn-light"
						data-ng-click="toReturn()">
						<i class="fas fa-arrow-left"></i> Regresar
					</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-success"
						data-ng-click="newRecordLegislator()">
						<i class="fas fa-plus"></i> Nuevo
					</button>
				</div>
				<div class="input-group col-md-4">
					<input class="form-control py-2" type="search" value="search"
						id="example-search-input" placeholder="Buscar"
						data-ng-model="searchRecordLegislator"> <span
						class="input-group-append"> </span>
				</div>
			</div>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="alert alert-primary"
					data-ng-if="!recordAdministrators.length">No se encontraron
					expedientes electrónicos de los legisladores en el sistema</div>
				<div class="table-responsive">
					<table class="table table-inversed table-hover table-striped">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Partido</th>
								<th>Rol</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</tfoot>
						<tbody>
							<tr
								data-ng-repeat="ra in recordAdministrators | filter: searchRecordAdministrator track by $index">
								<td>{{ra.name}} {{ra.apPaterno}} {{ra.apMaterno}}</td>
								<td>{{ra.partido.acronym}}</td>
								<td>{{ra.user.userRol.rolename}}</td>
								<td>
									<button type="button" class="btn btn-info" data-toggle="modal"
										data-target="#modal-show-record-administrator"
										data-ng-if="ra.id != null" data-ng-click="show(ra)">Ver</button>
								</td>
								<td>
									<button type="button" class="btn btn-success"
										data-ng-if="ra.id != null" data-ng-click="update(ra)">Actualizar</button>
								</td>
								<td>
									<button type="button" class="btn btn-danger"
										data-ng-if="ra.id != null" data-ng-click="confirmDelete(ra)">Eliminar</button>
								</td>
								<td>
									<button type="button" class="btn btn-dark"
										data-ng-if="ra.id != null" data-ng-click="createPDF(ra)">Documento</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="modal fade" id="modal-show-record-administrator" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Expediente
					electrónico</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<article id="pdf-expediente">
					<!-- 					Datos personales del legislador -->
					<fieldset class="scheduler-border">
						<legend align="left" class="scheduler-border">Datos
							personales</legend>
						<article class="row">
							<div class="col-md-4">
								<div class="container-img-preview">
									<i class="fas fa-user fa-5x text-dark"></i>
									<img data-ng-show="recordAdministrator.foto" alt="Vista previa foto" data-ng-src="{{recordAdministrator.foto? recordAdministrator.foto.filePath: './img/archivo-de-imagen.png'}}">
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<p>Nombre(s)</p> 
									<p>{{recordAdministrator.name}}</p>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<p>Apellido Paterno</p>
										<p>{{recordAdministrator.apPaterno}}</p>
									</div>
									<div class="form-group col-md-6">
										<p>Apellido Materno</p> 
										<p>{{recordAdministrator.apMaterno}}</p>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-4">
										<p>Fecha de nacimiento</p> 
										<p>{{recordAdministrator.fechaCumplianos}}</p>
									</div>
									<div class="form-group col-md-4">
										<p>Edad</p> 
										<p>{{recordAdministrator.edad}}</p>
									</div>
									<div class="form-group col-md-4">
										<p>Sexo</p> 
										<P>{{recordAdministrator.sexo}}</P>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<p>Curp</p>
										<p>{{recordAdministrator.curp}}</p>
									</div>
									<div class="form-group col-md-6">
										<p>RFC</p>
										<p>{{recordAdministrator.rfc}}</p>
									</div>
								</div>
							</div>
						</article>
					</fieldset>
					<!-- 					Datos domicilio particular -->
					<fieldset class="scheduler-border">
						<legend align="left" class="scheduler-border">Domicilio
							Particular</legend>
						<article class="row">
							<div class="form-row col-12">
								<div class="form-group col-md-6">
									<P>Calle</P>
									<P>{{recordAdministrator.section.homeAddress.street}}</P>
								</div>
								<div class="form-group col-md-3">
									<P>Número ext.</P> 
									<P>{{recordAdministrator.section.homeAddress.numberExt}}</P>
								</div>
								<div class="form-group col-md-3">
									<P>Número Int.</P> 
									<P>{{recordAdministrator.section.homeAddress.numberInt}}</P>
								</div>
							</div>
							<div class="form-row col-12">
								<div class="form-group col-md-4">
									<P>C.P.</P> 
									<P>{{recordAdministrator.section.homeAddress.cp}}</P>
									
								</div>
								<div class="form-group col-md-4">
									<P>Colonia</P> 
									<P>{{recordAdministrator.section.homeAddress.colony}}</P>
								</div>
								<div class="form-group col-md-4">
									<P>Entre calles</P>
									<P>{{recordAdministrator.section.homeAddress.betweenStreets}}</P>
								</div>
							</div>
							<div class="form-row col-12">
								<div class="form-group col-md-4">
									<P>Estado</P> 
									<p>{{recordAdministrator.section.homeAddress.state}}</p>
								</div>
								<div class="form-group col-md-4">
									<p>Delegación/Municipio</p>
									<p>{{recordAdministrator.section.homeAddress.municipality}}</p>
								</div>
							</div>
						</article>
					</fieldset>
					<!-- 					Datos domicilio laboral -->
					<fieldset class="scheduler-border">
						<legend align="left" class="scheduler-border">Domicilio
							Laboral</legend>
						<article class="row">
							<div class="form-row col-12">
								<div class="form-group col-md-6">
									<p>Calle</p>
									<p>{{recordAdministrator.section.laborAddress.street}}</p>
								</div>
								<div class="form-group col-md-3">
									<p>Número ext.</p> 
									<p>{{recordAdministrator.section.laborAddress.numberExt}}</p>
								</div>
								<div class="form-group col-md-3">
									<p>Número Int.</p>
									<p>{{recordAdministrator.section.laborAddress.numberInt}}</p>
								</div>
							</div>
							<div class="form-row col-12">
								<div class="form-group col-md-4">
									<p>C.P.</p> 
									<p>{{recordAdministrator.section.laborAddress.cp}}</p>
								</div>
								<div class="form-group col-md-4">
									<p>Colonia</p>
									<p>{{recordAdministrator.section.laborAddress.colony}}</p>
								</div>
								<div class="form-group col-md-4">
									<p>Entre calles</p>
									<p>{{recordAdministrator.section.laborAddress.betwennStreets}}</p>
								</div>
							</div>
							<div class="form-row col-12">
								<div class="form-group col-md-4">
									<p>Estado</p>
									<p>{{recordAdministrator.section.laborAddress.state}}</p>
								</div>
								<div class="form-group col-md-4">
									<p>Delegación/Municipio</p>
									<p>{{recordAdministrator.section.laborAddress.municipality}}</p>
								</div>
								<div class="form-group col-md-3">
									<p>Número fijo</p>
									<P>{{recordAdministrator.section.laborAddress.numberFixed}}</P>
								</div>
								<div class="form-group col-md-1">
									<P>Ext</P>
									<P>{{recordAdministrator.section.laborAddress.ext}}</P>
								</div>
							</div>
						</article>
					</fieldset>
					<!-- 					Nivel de estudios-->
					<fieldset class="scheduler-border">
						<legend align="left" class="scheduler-border">Nivel de
							estudios</legend>
						<article class="row">
							<div class="form-row col-12">
								<div class="form-group col-md-6">
									<P>Ultimo grado de estudios</P>
									<P>{{recordAdministrator.section.studies.lastGrade}}</P>
								</div>
								<div class="form-group col-md-6">
									<P>Estudios complementarios</P> 
									<P>{{recordAdministrator.section.studies.complementaryStudies}}</P>
								</div>
							</div>
							<div class="form-row col-12">
								<div class="form-group col-md-6">
									<P>Carrea/Licenciatura</P> 
									<P>{{recordAdministrator.section.studies.career}}</P>
								</div>
								<div class="form-group col-md-6">
									<P>Estudios complementarios</P> 
									<P>{{recordAdministrator.section.studies.complementaryStudiesOther}}</P>
								</div>
							</div>
							<div class="form-row col-12">
								<div class="form-group col-md-6">
									<P>Cédula Profecional</P> 
									<P>{{recordAdministrator.section.studies.professionalLicense}}</P>
								</div>
							</div>
						</article>
					</fieldset>
					<fieldset class="scheduler-border">
						<legend align="left" class="scheduler-border">Datos de
							salud</legend>
						<article class="row">
							<div class="form-row col-12">
								<div class="form-group col-md-4">
									<P>NSS</P>
									<p>{{recordAdministrator.nss}}</p>
								</div>
								<div class="form-group col-md-4">
									<P>Alergías</P> 
									<P>{{recordAdministrator.section.health.allergies}}</P>
								</div>
								<div class="form-group col-md-4">
									<P>Tipo de sangre</P> 
									<p>{{recordAdministrator.section.health.bloodType}}</p>
								</div>
							</div>
							<div class="form-row col-12">
								<div class="form-group col-md-4">
									<P>Enfermedades</P> 
									<P>{{recordAdministrator.section.health.diseases}}</P>
								</div>
							</div>
						</article>
					</fieldset>
					<fieldset class="scheduler-border">
						<legend align="left" class="scheduler-border">Datos de
							contacto</legend>
						<article class="row">
							<div class="form-row col-12">
								<div class="form-group col-md-4">
									<P>No. Teléfono</P> 
									<P>{{recordAdministrator.telefono}}</P>
								</div>
								<div class="form-group col-md-4">
									<P>No. Celular</P> 
									<P>{{recordAdministrator.celular}}</P>
								</div>
								<div class="form-group col-md-4">
									<P>Correo</P> 
									<P>{{recordAdministrator.email}}</P>
								</div>
							</div>
							<div class="form-row col-12">
								<div class="form-group col-md-4">
									<P>Persona de contacto</P> 
									<P>{{recordAdministrator.section.contact.person}}</P>
								</div>
								<div class="form-group col-md-4">
									<P>Parentesco</P>
									<P>{{recordAdministrator.section.contact.relationship}}</P>
								</div>
								<div class="form-group col-md-4">
									<P>Teléfono</P>
									<P>{{recordAdministrator.section.contact.telephone}}</P>
								</div>
							</div>
						</article>
					</fieldset>
					<fieldset class="scheduler-border">
						<legend align="left" class="scheduler-border">Datos
							bancarios</legend>
						<article class="row">
							<div class="form-row col-12">
								<div class="form-group col-md-4">
									<P>Banco operador</P>
									<P>{{recordAdministrator.section.bankData.bank}}</P>
								</div>
								<div class="form-group col-md-4">
									<P>No. de cuenta</P>
									<P>{{recordAdministrator.section.bankData.numberAccount}}</P>
								</div>
								<div class="form-group col-md-4">
									<P>No. de cuenta CLABE</P>
									<P>{{recordAdministrator.section.bankData.numberKey}}</P>
								</div>
							</div>
						</article>
					</fieldset>
					<fieldset class="scheduler-border">
						<legend align="left" class="scheduler-border">Datos de
							contrato</legend>
						<article class="row">
							<div class="form-row col-12">
								<div class="form-group col-md-4">
									<P>Tipo de contrato</P>
									<P>{{recordAdministrator.section.contractData.contractType}}</P>
								</div>
								<div class="form-group col-md-4">
									<P>Puesto laboral</P>
									<P>{{recordAdministrator.section.contractData.job}}</P>
								</div>
								<div class="form-group col-md-4">
									<P>Área</P>
									<P>{{recordAdministrator.section.contractData.area}}</P>
								</div>
							</div>
							<div class="form-row col-12">
								<div class="form-group col-md-4">
									<P>Jefe inmediato</P>
									<P>{{recordAdministrator.section.contractData.boss}}</P>
								</div>
								<div class="form-group col-md-4">
									<P>Fecha de inicio</P> 
									<P>{{recordAdministrator.section.contractData.startDate | date: 'dd/MM/yyyy'}}</P>
								</div>
								<div class="form-group col-md-4">
									<P>Fecha fín</P> 
									<P>{{recordAdministrator.section.contractData.endDate | date: 'dd/MM/yyyy'}}</P>
								</div>
							</div>
						</article>
					</fieldset>
				</article>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>