<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Page Heading -->
<h1 class="my-4">
	PRESENTES <small></small>
</h1>
<section>
	<div class="card w-95">
		<div class="card-header">
			<form class="form-inline" name="formFiltros">
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtFechaBusqueda" class="sr-only">Fecha de</label> 
						<input
						type="date" class="form-control" id="txtFechaBusqueda"
						data-ng-max="fechaBusquedaFin" name="fechaInicio"
						data-ng-model="fechaBusqueda" required="required"
						data-ng-class="formFiltros.fechaInicio.$invalid ? 'is-invalid': ''">
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtFechaBusquedaFin" class="sr-only">Fecha al </label>
					<input type="date" class="form-control" id="txtFechaBusquedaFin"
						data-ng-min="fechaBusqueda" name="fechaFin"
						data-ng-class="formFiltros.fechaFin.$invalid ? 'is-invalid': ''"
						data-ng-model="fechaBusquedaFin" required="required">
				</div>
				<button type="button" class="btn btn-dark"
					data-ng-click="getAttendances(fechaBusqueda,fechaBusquedaFin)">
					Buscar
				</button>
				<span class="invalid-feedback d-block"
					data-ng-show="formFiltros.fechaInicio.$invalid || formFiltros.fechaFin.$invalid">
					Rango de fechas inválido!
				</span>
			</form>
		</div>
		<div class="card-body">
			<div class="table-responsive" data-ng-if="attendances.length == 0">
				<div class="alert alert-primary" role="alert" data-ng-if="!attendances.length">
					No se han encontrado asistencias para el rango de fechas seleccionado
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-inversed table-hover table-striped" id="attendanceTable">
					<thead>
						<tr>
							<th>LEGISLADOR</th>
							<th>PARTIDO</th>
							<th>FECHA/HORA</th>
							<th>SESIÓN</th>
							<th>INICIATIVA</th>
						</tr>
					</thead>
					<tbody>
						<tr
							data-ng-repeat="attendance in attendances track by attendance.id">
							<td>{{attendance.partner.apPaterno}} {{attendance.partner.apMaterno}} {{attendance.partner.name}}</td>
							<td>{{attendance.partner.partido.acronym}}</td>
							<td>{{attendance.dateTime | date:'dd/MM/yyyy HH:mma'}}</td>
							<td>{{attendance.voteSession.nombre}}</td>
							<td>{{attendance.initiative.name}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="5"></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<!-- CardBody -->
		<div id="cardFooter" class="card-footer">
			<button type="button" class="btn btn-dark" onClick="PrintTable()" data-ng-if="attendances.length > 0 ">Imprimir PDF</button>
			<button type="button" class="btn btn-success" onClick="tableToExcel('attendanceTable', 'Reporte de asistencia')">Imprimir XLS</button>
		</div>
		<!-- CardFooter -->
	</div>
	<script type="text/javascript">
	function PrintTable() {
		var funcStr = window.location.hash.replace(/#/g, '') || 'basic';
		var doc = printPdf();
		
		doc.setProperties({
		    title: 'Example: ' + funcStr,
		    subject: 'A jspdf-autotable example pdf (' + funcStr + ')'
		});
		doc.save('asistencias.pdf');
	
	}
	
	function printPdf(){
	    var doc = new jsPDF();
	    var totalPagesExp = "{total_pages_count_string}";
		//console.log(document.getElementById('attendanceTable').innerHTML);
	    doc.autoTable({
	       // head: headRows(), 
	        //body: bodyRows(40),
	        html: '#attendanceTable', 
	        didDrawPage: function (data) {
	            // Header
	            doc.setFontSize(20);
	            doc.setTextColor(40);
	            doc.setFontStyle('normal');
	            doc.text("ASISTENCIAS", data.settings.margin.left, 22);

	            // Footer
	            var str = "Pag. " + doc.internal.getNumberOfPages()
	            // Total page number plugin only available in jspdf v1.0+
	            if (typeof doc.putTotalPages === 'function') {
	                str = str + " de " + totalPagesExp;
	            }
	            doc.setFontSize(10);

	            // jsPDF 1.4+ uses getWidth, <1.4 uses .width
	            var pageSize = doc.internal.pageSize;
	            var pageHeight = pageSize.height ? pageSize.height : pageSize.getHeight();
	            doc.text(str, data.settings.margin.left, pageHeight - 10);
	        },
	        margin: {top: 30}
	    });

	    // Total page number plugin only available in jspdf v1.0+
	    if (typeof doc.putTotalPages === 'function') {
	        doc.putTotalPages(totalPagesExp);
	    }

	    return doc;
	}
</script>
<script type="text/javascript">
	var tableToExcel = (function() {
		var uri = 'data:application/vnd.ms-excel;base64,', template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>', base64 = function(
				s) {
			return window.btoa(unescape(encodeURIComponent(s)))
		}, format = function(s, c) {
			return s.replace(/{(\w+)}/g, function(m, p) {
				return c[p];
			})
		}
		return function(table, name) {
			if (!table.nodeType)
				table = document.getElementById(table)
			var ctx = {
				worksheet : name || 'Worksheet',
				table : table.innerHTML
			}
			window.location.href = uri
					+ base64(format(template, ctx))
		}
	})()
</script>
</section>