
<!-- Page Heading -->
<h1 class="my-4">
	RESULTADOS DE LA VOTACIÓN {{reporteBar.initiative.name ? reporteBar.initiative.name + ':' : ''}}<small> </small>
</h1>
<section data-ng-if="reporteBar === null && reportePie == null">
	<div class="card">
		<div class="card-header">
			<form class="form-inline" name="formFiltros">
				<div class="btn-group mr-3">
					<button type="button" class="btn btn-light"
						data-ng-click="toReturn()">
						<i class="fas fa-arrow-left"></i> Regresar
					</button>
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtFechaBusqueda" class="sr-only">Fecha de</label> 
						<input
						type="date" class="form-control" id="txtFechaBusqueda"
						data-ng-max="fechaBusquedaFin" name="fechaInicio"
						data-ng-model="fechaBusqueda" required="required"
						data-ng-class="formFiltros.fechaInicio.$invalid ? 'is-invalid': ''">
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtFechaBusquedaFin" class="sr-only">Fecha al </label>
					<input type="date" class="form-control" id="txtFechaBusquedaFin"
						data-ng-min="fechaBusqueda" name="fechaFin"
						data-ng-class="formFiltros.fechaFin.$invalid ? 'is-invalid': ''"
						data-ng-model="fechaBusquedaFin" required="required">
				</div>
				<button type="button" class="btn btn-dark"
					data-ng-click="getIniciativas(fechaBusqueda,fechaBusquedaFin)">
					Buscar
				</button>
				<span class="invalid-feedback d-block"
					data-ng-show="formFiltros.fechaInicio.$invalid || formFiltros.fechaFin.$invalid">
					Rango de fechas inválido!
				</span>
			</form>
		</div>
		<div class="card-body">
			<div class="table-responsive" data-ng-if="initiatives.length == 0">
				<div class="alert alert-primary" role="alert" data-ng-if="!attendances.length">
					No se han encontrado registros para las fechas seleccionadas
				</div>
			</div>
			<div class="row">
				<table class="table table-stripped table-condensed">
					<thead>
						<tr>
							<th>NOMBRE</th>
							<th>FECHA</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr
							data-ng-repeat="initiative in initiatives track by initiative.id">
							<td>{{initiative.name}}</td>
							<!-- <td>
							<div class="form-check form-check-inline" data-ng-repeat="vo in initiative.tiposVotos">
								<input type="checkbox" class="form-check-input" id="inlineCheckbox{{$index}}" checked="checked" disabled="disabled"
								 value="{{vo}}"><label class="form-check-label" for="inlineCheckbox{{$index}}">{{vo.name}}</label>
							</div>
						</td>-->
							<td>{{ initiative.fechaHoraInicio | date:'dd/MM/yyyy HH:mma'
								}} - {{ initiative.fechaHoraFin | date:'dd/MM/yyyy HH:mma' }}</td>
							<td>
								<button type="button" class="btn btn-info"
									data-ng-click="initiativeGraph(initiative)"
									data-ng-if="initiative.id != null">Grafica</button>

							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3"></td>
						</tr>
					</tfoot>
				</table>
				<br>
			</div>
		</div>
	</div>
	<br>
</section>
<section data-ng-if="reporteBar !== null || reportePie !== null">
	<div class="card w-95">
		<div class="card-header">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab"
					data-toggle="tab" data-ui-sref="state" href="#home" role="tab"
					aria-controls="home" aria-selected="true" data-ng-click="changeTabView(0)">
						Barra
					</a>
				</li>
					
				<li class="nav-item">
					<a class="nav-link" id="pastel-tab"
					data-toggle="tab" ui-sref="state" href="#tabpastel" role="tab"
					aria-controls="tabpastel" aria-selected="false" data-ng-click="changeTabView(2)">
						Pastel
					</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" id="profile-tab"
					data-toggle="tab" ui-sref="state" href="#profile" role="tab"
					aria-controls="profile" aria-selected="false" data-ng-click="changeTabView(1)">
						Presentes
					</a>
				</li> <!-- {{reporte.initiative.name}} -->				
			</ul>
		</div>
		
		<input type="hidden" name="titleInitiative" id="titleInitiative" value="{{reporteBar.initiative.name}}">
		<div  class="card-body">
			<!-- TAB CONTENT -->
			<div class="tab-content" id="myTabContent">
				<!-- TAB de Grafica -->
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<!-- <div class="row col-md-12">
						<label>Resultado:</label>&nbsp;&nbsp;
						<button class="btn btn-{{reporte.resultado.voteColor}}">{{reporte.resultado.name}}</button>
					</div><br> -->
					<div id="cardbodyBar">
						<div class="row">
							<div class="col-sm-2"
								data-ng-repeat="voteOption in voteOptions track by $index">
								<button type="button" id="btn{{$index}}"
									class="btn btn-{{voteOption.voteColor}}">
									{{voteOption.name}}</button>
							</div>
						</div>
						<br>
						<div class="row col-md-12">
							<div class="col-md-7">
								<!-- <canvas id="popChart"  width="400" height="400" ></canvas>-->
								<canvas id="bar" class="chart chart-bar"
									chart-data="reporteBar.data" chart-labels="reporteBar.labels"
									chart-series="reporteBar.series" chart-options="reporteBar.options"
									chart-colors="reporteBar.colors">
								</canvas>
								<div style="display: none !important">
									<img id="canvasImgBar" src="" width="300px" height="300px">
								</div>
							</div>
							<div class="col-md-5">
								<div>
									<table class="table table-striped table-sm">
										<thead>
											<tr>
												<td>PARTICIPANTES</td>
												<td class="text-right">TOTAL VOTOS 
													<span class="badge badge-pill badge-dark badge-panel-dark">{{reporteBar.totalVotos}}</span>
												</td>
											</tr>
										</thead>
										<tbody>
											<tr
												data-ng-repeat="partner in reporteBar.partnersVotes | orderBy:['partner.partner.apPaterno','partner.partner.apMaterno','partner.partner.name']">
												<td>{{partner.partner.apPaterno}}&nbsp;{{partner.partner.apMaterno}}&nbsp;{{partner.partner.name}}</td>
												<td class="text-center"><span
													class="badge badge-pill badge-{{partner.option.voteColor}} badge-panel-partner.option.voteColor">&nbsp;&nbsp;</span></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td></td>
												<td></td>
											</tr>
										<tfoot>
									</table>
								</div>
							</div>
						</div>
					</div><!-- END CARD BODY -->
					<br>
				</div><!-- END TAB HOME -->
				<div class="tab-pane fade" id="tabpastel" role="tabpanel" aria-labelledby="pastel-tab">
					<div id="cardbodyPie">
						<div class="row">
							<div class="col-sm-2"
								data-ng-repeat="voteOption in voteOptions track by $index">
								<button type="button" id="btn{{$index}}"
									class="btn btn-{{voteOption.voteColor}}">
									{{voteOption.name}} <br>
									<span class="badge badge-{{voteOption.voteColor}} badge-pill">
										{{( voteOption.totalOption == 0 ? 0 : ((voteOption.totalOption * 100) / reportePie.totalVotos)  ) | number : 2}} %
									</span>
								</button>
							</div>
						</div>
						<br>
						<div class="row col-md-12">
							<div class="col-md-7">
								<!-- <canvas id="popChart"  width="400" height="400" ></canvas>-->
								<canvas id="pie" class="chart chart-pie"
									chart-data="reportePie.data" chart-labels="reportePie.labels"
									chart-series="reportePie.series" chart-options="reportePie.options"
									chart-colors="reportePie.colors">
								</canvas>
								<div style="display: none !important">
									<img id="canvasImgPie" src="" width="300px" height="300px">
								</div>
							</div>
							<div class="col-md-5">
								<table class="table table-striped table-sm">
									<thead>
										<tr>
											<td>PARTICIPANTES</td>
											<td class="text-right">TOTAL VOTOS 
												<span class="badge badge-pill badge-dark badge-panel-dark">{{reportePie.totalVotos}}</span>
											</td>
										</tr>
									</thead>
									<tbody>
										<tr
											data-ng-repeat="partner in reportePie.partnersVotes | orderBy:['partner.partner.apPaterno','partner.partner.apMaterno','partner.partner.name']">
											<td>{{partner.partner.apPaterno}}&nbsp;{{partner.partner.apMaterno}}&nbsp;{{partner.partner.name}}</td>
											<td class="text-center"><span
												class="badge badge-pill badge-{{partner.option.voteColor}} badge-panel-partner.option.voteColor">&nbsp;&nbsp;</span></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td></td>
											<td></td>
										</tr>
									<tfoot>
								</table>
							</div>
						</div>
					</div>
					<br>
				</div>
				<!-- TAB DE ASISTENCIA A INICIATIVA -->
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="container">
						<div class="table-responsive">
							<table id="attendanceTable" class="table table-striped table-hover">
								<thead class="thead-dark">
									<tr>
										<th colspan="5">{{reporteBar.initiative.name}}</th>
									</tr>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nombre</th>
										<th scope="col">Partido</th>
										<th scope="col">Fecha</th>
										<th scope="col">Hora</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="attendance in attendances | orderBy:['attendance.partner.apPaterno','attendance.partner.apMaterno','attendance.partner.name']">
										<th scope="row">{{($index + 1)}}</th>
										<td>{{attendance.partner.apPaterno}}&nbsp;{{attendance.partner.apMaterno}}&nbsp;{{attendance.partner.name}}</td>
										<td>{{attendance.partner.partido.acronym}}</td>
										<td>{{attendance.dateTime | date: 'dd/MM/yyyy'}}</td>
										<td>{{attendance.dateTime | date: 'HH:mm:ss'}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div><!-- END  TAB CONTENT -->
		</div><!-- END CardBody -->
		<div id="cardFooter" class="card-footer">
			<button type="button" class="btn btn-info" data-ng-click="regresarIniciativas()">Regresar</button>
			<button type="button" class="btn btn-dark" onClick="PrintImage(0)" data-ng-if="tabView == 0">Imprimir</button>
			<button type="button" class="btn btn-dark" onClick="PrintImage(2)" data-ng-if="tabView == 2">Imprimir</button>
			<button type="button" class="btn btn-dark" onClick="PrintTable()" data-ng-if="tabView == 1">Imprimir PDF</button>
			<button type="button" class="btn btn-success" onClick="tableToExcel('attendanceTable', 'Reporte de asistencia')" data-ng-if="tabView == 1">Imprimir XLS</button>
		</div>
		<!-- CardFooter -->
	</div>
	<!-- Card -->
<script type="text/javascript">
	function PrintImage(tabView) {
		var _nombreIniciativa =  document.getElementById('titleInitiative').value;
		var dataUrl = ( tabView == 0 ? document.getElementById('bar').toDataURL() : document.getElementById('pie').toDataURL() );
		var imgCv = ( tabView == 0 ? document.getElementById('canvasImgBar') : document.getElementById('canvasImgPie') );
		imgCv.src = dataUrl;
		var divCardOrg = ( tabView == 0 ? document.getElementById('cardbodyBar') : document.getElementById('cardbodyPie') );
		html2canvas(divCardOrg).then(
				function(canvas) {
					//document.body.appendChild(canvas);
					//CONTENT PRINT
					var win1 = window.open("", "Print",
							"width=800,height=800");
					var windowContent = '<!DOCTYPE html>';
					windowContent += '<html>';
					windowContent += '<head>';
					// windowContent += '<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="print">';
					// windowContent += '<link href="css/4-col-portfolio.css" rel="stylesheet"  type="text/css" media="print">';
					//windowContent += '<link href="css/custom/bootstrap4-switch.css" rel="stylesheet"  type="text/css" media="print">';
					windowContent += '</head>';
					windowContent += '<body>';
					windowContent += '<h1 class="my-4">'+_nombreIniciativa+'</h1>';
					windowContent += '<img src="'
							+ canvas.toDataURL() + '"/>';
					//windowContent += canvas.toDataUrl;
					windowContent += '</body>';
					windowContent += '</html>';

					win1.document.write(windowContent);
					var is_chrome = Boolean(window.chrome);
					if (is_chrome) {
						win1.onload = function() {
							console.log('print');
							win1.print(); // change window to winPrint
							setTimeout(function() { // wait until all resources loaded 
								console.log('setTimeOut');
								//browser.actions().keyDown(protractor.Key.CONTROL).sendKeys('a').perform();
								win1.close();// change window to winPrint
							}, 1000);
						};
					} else {
						win1.print();
						win1.close();
					}

				});

	}
</script>
<script type="text/javascript">
	function PrintTable() {
		var funcStr = window.location.hash.replace(/#/g, '') || 'basic';
		var doc = printPdf();
		
		doc.setProperties({
		    title: 'Example: ' + funcStr,
		    subject: 'A jspdf-autotable example pdf (' + funcStr + ')'
		});
		doc.save('asistencias.pdf');
	
	}
	
	function printPdf(){
	    var doc = new jsPDF();
	    var totalPagesExp = "{total_pages_count_string}";
		//console.log(document.getElementById('attendanceTable').innerHTML);
	    doc.autoTable({
	       // head: headRows(), 
	        //body: bodyRows(40),
	        html: '#attendanceTable', 
	        didDrawPage: function (data) {
	            // Header
	            doc.setFontSize(20);
	            doc.setTextColor(40);
	            doc.setFontStyle('normal');
	            doc.text("ASISTENCIAS", data.settings.margin.left + 15, 22);

	            // Footer
	            var str = "Pag. " + doc.internal.getNumberOfPages()
	            // Total page number plugin only available in jspdf v1.0+
	            if (typeof doc.putTotalPages === 'function') {
	                str = str + " de " + totalPagesExp;
	            }
	            doc.setFontSize(10);

	            // jsPDF 1.4+ uses getWidth, <1.4 uses .width
	            var pageSize = doc.internal.pageSize;
	            var pageHeight = pageSize.height ? pageSize.height : pageSize.getHeight();
	            doc.text(str, data.settings.margin.left, pageHeight - 10);
	        },
	        margin: {top: 30}
	    });

	    // Total page number plugin only available in jspdf v1.0+
	    if (typeof doc.putTotalPages === 'function') {
	        doc.putTotalPages(totalPagesExp);
	    }

	    return doc;
	}
</script>
<script type="text/javascript">
	var tableToExcel = (function() {
		var uri = 'data:application/vnd.ms-excel;base64,', template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>', base64 = function(
				s) {
			return window.btoa(unescape(encodeURIComponent(s)))
		}, format = function(s, c) {
			return s.replace(/{(\w+)}/g, function(m, p) {
				return c[p];
			})
		}
		return function(table, name) {
			if (!table.nodeType)
				table = document.getElementById(table)
			var ctx = {
				worksheet : name || 'Worksheet',
				table : table.innerHTML
			}
			window.location.href = uri
					+ base64(format(template, ctx))
		}
	})()
</script>
</section>
