<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<h1>Resultados - Reportes Estadísticos</h1>
<section data-ng-if="reporteBar === null && reportePie === null">
	<div class="card w-95">
		<div class="card-header">
			<form class="form-row" name="formFiltros">
				<div class="btn-group mr-3">
					<button type="button" class="btn btn-light"
						data-ng-click="toReturn()">
						<i class="fas fa-arrow-left"></i> Regresar
					</button>
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtFechaBusqueda" class="sr-only">Fecha de</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-lg4">
								<i class="far fa-calendar-alt"></i>
							</span>
						</div>
						<input type="date" class="form-control" id="txtFechaBusqueda"
							data-ng-max="selected.endDate" name="fechaInicio"
							data-ng-model="selected.startDate" required="required"
							data-ng-change="getSessionsBetweenDates(selected)"
							data-ng-class="formFiltros.fechaInicio.$invalid ? 'is-invalid':''">
					</div>
					<div class="invalid-feedback d-block"
						data-ng-if="!formFiltros.fechaInicio.$valid">Por favor,
						introduce una fecha válida</div>
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtFechaBusquedaFin" class="sr-only">Fecha al</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-lg4">
								<i class="far fa-calendar-alt"></i>
							</span>
						</div>
						<input type="date" class="form-control" id="txtFechaBusquedaFin"
							data-ng-min="selected.startDate" data-ng-max="maxSearchDate"
							name="fechaFin" data-ng-model="selected.endDate"
							required="required"
							data-ng-change="getSessionsBetweenDates(selected)"
							data-ng-class="formFiltros.fechaFin.$invalid ? 'is-invalid':''">
					</div>
					<div class="invalid-feedback d-block"
						data-ng-show="!formFiltros.fechaFin.$valid">Por favor,
						introduce una fecha válida</div>
				</div>
				<div class="w-100"></div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtTypeSession" class="sr-only">Tipo de sesión</label>
					<div class="input-group" data-toggle="modal"
						data-target="#model-select-type-session">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-lg4">
								<i class="fas fa-award"></i>
							</span>
						</div>
						<input type="text" class="form-control" name="txtTypeSession"
							data-ng-model="filterInfo.typeSessions"
							id="txtTypeSession" placeholder="Tipo de sesión" required
							readonly>
					</div>
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtSession" class="sr-only">Sesiones</label>
					<div class="input-group" data-toggle="modal"
						data-target="#model-select-sessions">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-lg4">
								<i class="fas fa-balance-scale"></i>
							</span>
						</div>
						<input type="text" class="form-control" name="txtSession"
							data-ng-model="filterInfo.sessions"
							id="txtSession" placeholder="Sesiones" required readonly>
					</div>
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtResult" class="sr-only">Resultado</label>
					<div class="input-group" data-toggle="modal"
						data-target="#model-select-results">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-lg4">
								<i class="fas fa-external-link-alt"></i>
							</span>
						</div>
						<input type="text" class="form-control" name="txtResult"
							data-ng-model="filterInfo.results"
							id="txtResult" placeholder="Resultado" required readonly>
					</div>
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtInitiatives" class="sr-only">Iniciativas</label>
					<div class="input-group" data-toggle="modal"
						data-target="#model-select-initiatives">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-lg4">
								<i class="fas fa-book"></i>
							</span>
						</div>
						<input type="text" class="form-control" name="txtInitiatives"
							data-ng-model="filterInfo.initiatives"
							id="txtInitiatives" placeholder="Iniciativas" required readonly>
					</div>
				</div>
				<div class="w-100"></div>
				<div class="form-group mx-sm-3 mb-2">
					<button type="button" class="btn btn-dark"
						data-ng-click="getResultsReport()">Buscar</button>
				</div>
			</form>
		</div>
		<div class="card-body">
			<div class="table-responsive" data-ng-if="resultsReport.data.length == 0">
				<div class="alert alert-primary" role="alert"
					data-ng-if="!resultsReport.data.length">No se ha encontrado
					información con los datos ingresados</div>
			</div>
			<div class="table-responsive">
				<table class="table table-inversed table-hover table-stripted"
					id="table">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Tipo de sesión</th>
							<th>Sesión</th>
							<th>Iniciativa</th>
							<th>Presentes</th>
							<th>Formula de cálculo</th>
							<th>Método de redondeo</th>
							<th>Resultado</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="rr in resultsReport.data">
							<td>{{rr.date | date: 'dd/MM/yyyy'}}</td>
							<td>{{rr.typeSession}}</td>
							<td>{{rr.session}}</td>
							<td>{{rr.initiative}}</td>
							<td>{{rr.present}}</td>
							<td>{{rr.formula}}</td>
							<td>{{rr.method}}</td>
							<td>{{rr.result}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer">
			<button type="button" class="btn btn-dark"
				data-ng-if="resultsReport.data" data-ng-click="printTable()">Imprimir
				PDF</button>
			<button type="button" class="btn btn-info"
				data-ng-if="resultsReport.data" data-ng-click="createGraph()">Gráfica</button>
		</div>
	</div>
</section>

<section data-ng-if="!reporteBar !== null && reportePie !== null">
	<div class="card w-95">
		<div class="card-header">
			<ul class="nav nav-tabs" id="myTab">
				<li class="nav-item"><a class="nav-link active" id="home-tab"
					data-toggle="tab" data-ui-sref="state" href="#home" role="tab"
					aria-controls="home" aria-selected="true"
					data-ng-click="changeTabView('cardbodyBar')">Barra</a></li>
				<li class="nav-item"><a class="nav-link" id="pastel-tab"
					data-toggle="tab" data-ui-sref="state" href="#tabpastel" role="tab"
					aria-controls="tabpastel" aria-selected="false"
					data-ng-click="changeTabView('cardbodyPie')">Pastel</a></li>
			</ul>
		</div>
		<div class="card-body">
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel"
					aria-labelleby="home-tab">
					<div id="cardbodyBar">
						<div class="row col-md-12">
							<div class="col-md-7">
								<canvas id="bar" class="chart chart-bar"
									data-chart-data="reporteBar.data"
									data-chart-labels="reporteBar.labels"
									data-ng-series="reporteBar.series"
									data-chart-options="reporteBar.options"
									data-chart-colors="reporteBar.colors"></canvas>
								<div style="display: none !important">
									<img id="bar" src="">
								</div>
							</div>
							<div class="col-md-5">
								<div class="row border-bottom" data-ng-repeat="us in uniqueSession | orderBy: us.session track by $index"
									data-ng-click="setSessionReportGraph(us.sessionId)">
									<div class="col-md-6 font-weight-bold">{{us.session}}</div>
									<div class="col-md-6">Total de iniciativas</div>
									<div class="row col-md-12" data-ng-repeat="fbs in filterBySession(us.sessionId) track by $index">
										<div class="col-md-6">{{fbs.formula}}</div>
										<div class="col-md-6 text-center">
											<span class="badge badge-pill text-white"
												data-ng-style="{'background':findColor(fbs.formulaId), 'border': '2px solid '+findColor(fbs.formulaId)}">
												{{filterInfoLength(fbs.sessionId, fbs.formulaId)}}
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tabpastel"
					aria-labelledby="pastel-tab">
					<div id="cardbodyPie">
						<div class="row col-md-12">
							<div class="col-md-7">
								<canvas id="pie" class="chart chart-pie"
									data-chart-data="reportePie.data"
									data-chart-labels="reportePie.labels"
									data-chart-series="reportePie.series"
									data-chart-options="reportePie.options"
									data-chart-colors="reportePie.colors"></canvas>
								<div style="display: none !important">
									<img id="canvasImgPie" src="" width="300px" height="300px">
								</div>
							</div>
							<div class="col-md-5">
								<div class="row border-bottom" data-ng-repeat="us in uniqueSession | orderBy: us.session track by $index"
									data-ng-click="setSessionReportGraph(us.sessionId)">
									<div class="col-md-6 font-weight-bold">{{us.session}}</div>
									<div class="col-md-6">Total de iniciativas</div>
									<div class="row col-md-12" data-ng-repeat="fbs in filterBySession(us.sessionId) track by $index">
										<div class="col-md-6">{{fbs.formula}}</div>
										<div class="col-md-6 text-center">
											<span class="badge badge-pill text-white"
												data-ng-style="{'background':findColor(fbs.formulaId), 'border': '1px solid '+findColor(fbs.formulaId)}">
												{{filterInfoLength(fbs.sessionId, fbs.formulaId)}}
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="cardFooter" class="card-footer">
			<button type="button" class="btn btn-info" data-ng-click="toReturnBar()">Regresar</button>
			<button type="button" class="btn btn-dark" data-ng-click="printImg()">Imprimir</button>
		</div>
	</div>
</section>

<!-- Modal Tipo de sesiones-->
<div class="modal fade" id="model-select-type-session" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalLongTitle"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Tipos de
					sesión</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table table-inversed table-hover table-striped">
						<thead>
							<tr>
								<td>Nombre</td>
								<td><input type="checkbox" id="checked-type-session"
									data-ng-click="checkAllOptions(typeSessions,$event)"></td>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="ts in typeSessions">
								<td>{{ts.name}}</td>
								<td><input type="checkbox" data-ng-model="ts.checked"
									name="checked-type-session"
									data-ng-click="updateSelectedTypeSession()"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal seleccion de sesiones -->
<div class="modal fade" id="model-select-sessions" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalLongTitle"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Sesiones</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<div class="alert alert-primary" role="alert"
						data-ng-if="!sessions.length">No se ha encontrado
						información con los datos ingresados</div>
				</div>
				<div class="table-responsive">
					<table class="table table-inversed table-hover table-striped"
						data-ng-if="sessions.length">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Fecha/Hora</th>
								<td><input type="checkbox" id="checked-session"
									data-ng-click="checkAllOptions(fSessions,$event)"></td>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="ss in fSessions">
								<td>{{ss.nombre}}</td>
								<td>{{ss.fechaHora | date:'dd/MM/yyyy HH:mm'}}</td>
								<td><input type="checkbox" data-ng-model="ss.checked"
									name="checked-session" data-ng-click="updateSelectedSessions()"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal iniciativas-->
<div class="modal fade" id="model-select-initiatives" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalLongTitle"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Iniciativas</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<div class="alert alert-primary" role="alert"
						data-ng-if="!initiatives.length">No se ha encontrado
						información con los datos ingresados</div>
				</div>
				<div class="table-responsive">
					<table class="table table-inversed table-hover table-striped"
						data-ng-if="initiatives.length">
						<thead>
							<tr>
								<td>Nombre</td>
								<td>Resultado</td>
								<td><input type="checkbox"
									id="checked-initiative"
									data-ng-click="checkAllOptions(fInitiatives,$event)"></td>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="int in fInitiatives">
								<td>{{int.name}}</td>
								<td>{{int.result.resultName}}</td>
								<td><input type="checkbox" data-ng-model="int.checked"
									name="checked-initiative"
									data-ng-click="updateSelectedInitiatives()"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal resultado sesiones-->
<div class="modal fade" id="model-select-results" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalLongTitle"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Resultado de
					sesiones</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table table-inversed table-hover table-striped">
						<thead>
							<tr>
								<td>Nombre</td>
								<td><input type="checkbox"
									id="checked-initiative"
									data-ng-click="checkAllOptions(results,$event)"></td>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="r in results">
								<td>{{r.name}}</td>
								<td><input type="checkbox" data-ng-model="r.checked"
									name="checked-initiative"
									data-ng-click="updateSelectedResults()"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
			</div>
		</div>
	</div>
</div>
